@{
    ViewBag.Title = "URFX | Privacy Policy";
}
<header>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/"><img src="/Content/images/logo.png" alt="logo-here" ng-hide="showArabicLogo"><img src="~/Content/images/arabic-logo.png" ng-show="showArabicLogo" /></a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="/App"><span translate>Login</span></a></li>
                        <li>
                            <a class="btn language" validation-reset="loginForm" ng-click="setLang('en', $event)" title="English">English</a>

                        </li>
                        <li><a class="btn language2" validation-reset="loginForm" ng-click="setLang('ar', $event)" title="العربية">العربية</a></li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>
<div class="innercontent privacy">
    <div class="container">
        <div class="row">
            <div class="contentheading">
                <h2 translate>Privacy Policy</h2>
            </div>
            <div class="inner-contentbox chosen-rtl" dir="rtl">
                <p translate>في هذه الصفحة نحن نبين لك سياسة الخصوصية التي نتبعها في موقع و/أو تطبيق يورفكس (URFX) حتى تكون على علم بنهجنا و استخداماتنا لما نجمعه عنك من  معلومات أو عن منشئتك , فإننا صراحةً نجمع بعض المعلومات عنك كمستخدم لموقع و/أو تطبيقنا أو كزائر , و نحن نبين هنا في هذه الوثيقة كيف نتعامل مع المعلومات التي نجمعها عنك من خلال إستخدامك موقع و/أو تطبيق نا .</p>

                <ul class="list-group">
                    <li class="list-group-item active">
                        أولاً : معلومات عامة إستخدامات المعلومات الشخصية:
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند تعبئة نموذج الملاحظات في موقعنا و/أو تطبيقنا، فإننا في يورفكس أو إدارته المعلومات الشخصية الواردة في النموذج للاجابة على ملاحظاتك فقط أو تدوينها لدينا لتكون بعين الإعتبار 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند تعبئة نموذج التسجيل لتسجيل عضوية خاصة بك أو بمنشئتك في موقعنا و/أو تطبيقنا إنه يستوجب عليك التسجيل بإسمك الحقيقي أو بإسم منشئتك و بالمعلومات الصحيحة ( العنوان , رقم الهاتف , رقم الجوال , البريد الإلكتروني ) إلا أننا لا نكشف عن هذه المعلومات لأي طرف ثالث ولا نسمح بالإطلاع عليها أو تسريبها , عدا ما يظهر من معلومات على صفحات موقعنا و/أو تطبيقنا بإرادتك الشخصية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند تعبئة الطلب في قسم تعبئة نماذج الوظائف حين الإعلان عن توفر وظائف ، نستخدم في يورفكس أو إدارته المعلومات الشخصية الواردة في النموذج لأغراض الموارد البشرية فقط
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند تعبئة نموذج الإتصال بنا في موقعنا و/أو تطبيقنا إننا نستخدم المعلومات المسجلة للتواصل الرسمي معك أو للرد على إستفسارك , و لا نقدم هذه المعلومات لأي طرف ثالث مهما كان                             
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند إرسال تذكرة دعم فني فإننا نجمع بعض المعلومات عنك بهدف تقديم الدعم الفني و المساعدة و حل أي معوقات قد تواجهك    
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يرجى ملاحظة أنك عند دخولك إلى موقعنا و/أو تطبيقنا الكتروني آخر من خلال الموقعنا و/أو تطبيقنا الالكتروني ، فإنك لن تكون في موقعنا و/أو تطبيقنا، وتخضع عندئذ لسياسة الموقع و/أو تطبيق الآخر و على مسؤوليتك الخاصة دون أدنى مسؤولية طرفنا                             
                        </p>
                    </li>
                    
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        ثانياً : كوكيز ( معلومات المتصفح)
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يستخدم موقعنا و/أو تطبيقنا يورفكس كوكيز ( معلومات المتصفح) لتحديد السيرفر الذي يستخدمه المستخدم لطلب خدمة ما. ويعني مصطلح الكوكيز: معلومات بسيطة يتم ارسالها للسيرفر مع صفحة موقعنا و/أو تطبيقنا الالكتروني عند الدخول إلى أي موقع و/أو تطبيق الكتروني. وعندئذ يقوم المتصفح بإرجاع الكوكيز فقط إلى مصدر الكوكيز الأصلي
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا يمكننا الإستفادة من معلومات المتصفح في أي شيء يخص المستخدم على صفحات موقعنا و/أو تطبيقنا سوى تحديد ( IP ) الاتصال و الوقت و نوع نظام التشغيل و البلد او المكان و الأخير لا يمكن بالضرورة أن يكون صحيحاً فهو يخضع لمزود الخدمة و معرف الإتصال الخاص بكل مزود خدمة على حده 
                        </p>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        ثالثاً : أمن المعلومات                   
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إدارة موقعنا و/أو تطبيقنا لكونها تهتم بموقعها و/أو تطبيقها  الإلكتروني فإنها تستخدم تشفير آمن لجميع معلومات عملائها عند التسجيل في خدمة العملاء من خلال تشفير أمني عالي على بروتوكول الإتصال بين المستخدم و سيرفر موقعنا و/أو تطبيقنا و الذي لا يسمح بالتجسس على معلومات العميل .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا نقوم بمشاركة معلومات العميل مع أي طرف ثالث من خلال موقعنا و/أو تطبيقنا الإلكتروني و جميع المعلومات و المستندات و الوثائق يتم حفظها على موقعنا و/أو تطبيقنا مباشرةً
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يتم تشفير البطاقات الائتمانية عن طريق شركات دفع متخصصه  و التي تعمل مع البنوك السعودية المرخصة بحيث يصعب ان يتم فك تشفير البطاقات الائتمانية و استخداها من اي طرف، كما نحرص كل الحرص على مراجعه أمن المعلومات في موقعنا و تطبيقنا للحفاظ دوما على بيئه تجاريه امنة لجميع الاطراف
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يخضع الخادم الذي يستضيف موقعنا و/أو تطبيقنا لأعلى درجات الحماية، وننصحك دائماً بتشغيل برامج الحماية من الفيروسات، ولذا فإن شركة أبناء محمد بن صالح العثيم القابضة و المالكة للموقع و التطبيق غير مسؤولة عن أي ضرر قد يحدث لجهازك أثناء إتصالك بموقعنا و/أو تطبيقنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            نحن لا نصل إلى جهاز المستخدم أو نجمع عنه أي معلومات أو بيانات مثل : الصور و الأرقام السرية و كلمات المرور و المستندات الخاصة أو العامة بأي حالٍ من الأحوال 
                        </p>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        رابعاً : التحديثات
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            آخر تحديث كان بتاريخ 10/مارس/2016م
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجوز لشركة أبناء محمد بن صالح العثيم القابضة تحديث بنود سياسة الخصوصية بين كل فترة و أخرى بناءاً على ما تقتضيه المصلحة العامة و الخاصة و بما يتوافق مع نهجنا و مجال تخصصنا 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            نحن نراجع تطبيق سياستنا الخصوصية بصفة دورية
                        </p>
                    </li>
                </ul>


                <ul class="list-group">
                    <li class="list-group-item active">
                        خامساً : إقرارات
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يعتبر إطلاعك على بنود سياسة الخصوصية في موقعنا و/أو تطبيقنا يورفكس إقرارٌ منك بالموافقة على ما تشتمل عليه بنود سياسة الخصوصية  وفي حال عدم الاطلاع عليها من قبلكم و قيمامكم بالإستفادة من المنصة و/أو التطبيق فهذا بمثابة إقرار منكم بالموافقه على جميع شروطنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا تختلف كثيراً سياسة الخصوصية التي نتبعها في موقع و/أو تطبيقنا عن سياسة الخصوصية التي تتبعها يورفكس في التعامل مع عملائها من خلال مكاتبها أو وكلائها, و الإختلاف يكمن في نوعية الوصول إلينا إما من خلال التعاملات المباشرة أو التعاملات الإلكترونية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إستخدامك لموقعنا و/أو تطبيقنا لمرة واحدة أو مرات متكررة يعني إقرارك بما نصت عليه لائحة إتفاق الشروط و الأحكام المنصوص عليها في وثيقة و صفحة إتفاقية الإستخدام , إذا لم تطلع عليها يرجى زيارة صفحة إتفاقية الإستخدام 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            في حال كان لديك أي إعتراض على ما ورد في هذه الوثيقة , أو لديك أي مطالبات أو إقتراحات , نرجوا منك التواصل معنا على T@URFXCO.COM 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            و الله نسأل الإخلاص في القول و العمل 
                        </p>
                    </li>
                </ul>

                @*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                   <span translate>1.General Information uses of personal information</span> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p translate>When filling out the feedback form on our website and / or our application , we are in Aorvks or manage personal information on the form to answer all your notes or recorded to have to be taken into account.</p>
                                <p translate>When filling out the registration form to register your own or Bmncitk on our site and / or our application that requires you need to register your real name or the name of Mncitk and correct information membership ( address, phone number , mobile number , e-mail) , but we do not disclose such information to any third party do not allow to see it or diversion , except what appears from information on our pages and / or our application personal Your will .</p>
                                <p translate>
                                    When filling out the application forms filling jobs when the announcement of the availability of jobs section , we use the Aorvks or management of personal information on the form for the purposes only of human resources.
                                </p>
                                <p translate>When you fill out the contact us form on our site and / or our application , we use the information recorded in the official to communicate with you or to respond to your inquiry, and does not provide this information to any third party whatsoever.</p>
                                <p translate>
                                    When you send a ticket we collect some information about you in order to provide technical support and help and solve any problems you may experience .
                                </p>
                                <p translate>Please note that you when you log in to our website and / or our application electronic another through Moqana and / or email our application , you will not be at our and / or our application , and are subject then to the policy of the site and / or the application of the other , and at your own risk , without any responsibility on our part .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" translate>
                                    2. Cookies ( browser information )
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p translate>Our site uses and / or our application Aorvks cookies ( browser information ) to determine the server used by the user to request a service . And the term Cookies: Basic information is sent to the server with our web page and / or email when our application to access any site and / or electronic application. And then the browser returns cookies cookies only to the original source.</p>
                                <p translate>We can not take advantage of the browser information about any thing in the user on our pages and / or our application only determine (IP) communication and time and type of operating system and the country or the place and the latter can not necessarily be true it is subject to the service provider and ID your contact each service provider separately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" translate>
                                    3. Information Security
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p translate>Management of our site and / or our application for being concerned with location and / or application of mail they use secure encryption of all information customers when registering at customer service through high- security encryption protocol communication between the user and the server our site and / or our application , which does not allow spying on Information Customer .</p>
                                <p translate>
                                    We do not share customer information with any third parties through our website and / or our application and mail all information and documents , and the documents are saved on our site and / or our application directly.
                                </p>
                                <p translate>
                                    The credit card is encrypted by paying specialized and working with Saudi banks licensed companies so difficult that is decrypted credit card encryption and Astkhaddaha of any party , and we take great care to Mrajh information security at our website and our application for a diaper always on the trading environment safe for all parties .
                                </p>
                                <p translate>Subject to the server that hosts our site and / or our application to the highest degree of protection , we always recommend that you run antivirus software , so the children of Mohammed bin Saleh Al Othaim Holding and owner of the company for the site and the application is not responsible for any damage that may occur to your device while you are connected to our site and / or our application .</p>
                                <p translate>
                                    We do not get to the user's PC or collect him any information or data such as images and confidential numbers and passwords and documents or the public in any way .
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" translate>
                                    4. Updates
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p translate>
                                    Last update was dated 12/12/2015 AD
                                </p>
                                <p translate>The company may be the children of Mohammed bin Saleh Al Othaim Holding updated the terms of the privacy policy of each period and the other based on the public interest and private , and in line with our approach and our field .</p>

                                <p translate>We are reviewing the application of our privacy policy periodically.</p>
                                <p translate>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFifth">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth" translate>
                                    5. Representations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFifth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifth">
                            <div class="panel-body">
                                <p translate>Click on this subject exclusively to the judicial authorities with competence in the Kingdom of Saudi Arabia only.</p>
                                <p translate>It is to check out the terms of our Privacy Policy and / or our application Aorvks you acknowledge that you agree to what it involves Privacy Policy Terms In the absence of accessible by you and Qimamkm Baalastvadh from the platform and / or the application of you this is a recognition of approval of all our terms.</p>
                                <p translate>Not much different our privacy policy at the site and / or our application for the privacy policy of Aorvks in dealing with its customers through its offices or agents , and the difference lies in the quality of access to us either through direct transactions or electronic transactions .</p>
                                <p translate>Your use of our site and / or our application for a one-time or recurring times mean acknowledgment as stipulated in the agreement for the list of terms and conditions set forth in the document and page Terms , if you had not seen it , please visit the page Terms .</p>
                                <p translate>In case you have any objection to what is stated in this document, or have any claims or suggestions, please do contact us at HELP@URFXCO.COM</p>
                                <p translate><b>We ask God and fidelity to say and work.</b></p>
                            </div>
                        </div>
                    </div>


                </div>*@

            </div>



        </div>
    </div>
</div>




