@{
    ViewBag.Title = "URFX | Terms Of Use";
}
<header>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/"><img src="/Content/images/logo.png" alt="logo-here" ng-hide="showArabicLogo"><img src="~/Content/images/arabic-logo.png" ng-show="showArabicLogo" /></a>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="/App"><span translate>Login</span></a></li>
                        <li>
                            <a class="btn language" validation-reset="loginForm" ng-click="setLang('en', $event)" title="English">English</a>

                        </li>
                        <li><a class="btn language2" validation-reset="loginForm" ng-click="setLang('ar', $event)" title="العربية">العربية</a></li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>
<div class="innercontent termsuse">
    <div class="container">
        <div class="row">
            <div class="contentheading">
                <h2 translate>TERMS OF USE</h2>
            </div>
            <div class="inner-contentbox chosen-rtl" dir="rtl">                
                <p translate>تتضمن اتفاقية الإستخدام هذه شرحاً حول بنود وشروط الاستخدام لموقعنا و/أو تطبيقنا يورفكس وخدماتنا. وقد حرصنا على إدراج جميع ما يتعلق بالمستخدم من روابط المعلومات ذات الصلة في هذه الإتفاقية , تم تعديل هذه النسخة في 10 مارس 2016م.</p>
                <ul class="list-group">
                    <li class="list-group-item active">
                        تعريفات:                    
                    </li>
                    <li href="#" class="list-group-item">                        
                        <p>
                            <b>حساب / الحساب:</b>حساب / الحساب: يعني الحساب الذي تقوم بإنشائه من خلال التسجيل في موقعنا و/أو تطبيقنا و يتضمن إسم المستخدم و الإسم الصريح و البريد الإلكتروني و العنوان وغيرها من المعلومات الهامة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>مشتري / عميل / صاحب الطلب:</b>
                            يعني المستخدم الذي يقوم بالإتفاق أو شراء الخدمات أو المواد من مزودي الخدمات من خلال موقعنا و/أو تطبيقنا 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            <b>العرض:</b>
                            يعني الاتفاق الذي يتوصل إليه كل من العميل ومزودي الخدمات  بناء على ما يعرضة العميل وما يستطيع توفيره مزودي الخدمات
                          
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            <b>وثيقة الشراء:</b>
                             تعني المستند الذي يوضح البنود والشروط التي اتفق عليها في العقد , ويعتمد في الأساس على صفحة الطلب المنشور على منصتنا . و التي توصح تفاصيل الطلب من قبل العميل
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>المبلغ المستلم: 
                            </b>
                             بناء على وثيقة الشراء يعني ما اتفق عليه مزودي الخدمات  والعميل وما سيتم تسليمه بمجرد انتهاء العمل

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b> عملية الانجاز: </b>
                        وهي العملية التي يتابعها كل من مزودي الخدمات  والعميل لضمان الحصول على الخدمة المقدمة 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>مزود الخدمة: </b>
                            
                            مزود الخدمة:  يعني مزودي الخدمات المحقق للشروط القانونية والمشترك في عملية البيع و المسجل في منصتنا و/أو تطبيقنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>يورفكس  “URFX“، “نحن” ، “لنا” ، “منصة” ، “منصتنا” ، “تطبيقنا: “التطبيق:” تعني موقعناو/أو تطبيقناو/أو منصتنا 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>حساب غير فعال: </b>
                            يعني حساب المستخدم الذي لم يسجل دخول لمدة ثلاثة أشهر متتابعة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>حقوق الملكية الفكرية: </b>تعني كل أو بعض أو جزء من حقوق الملكية الفكرية الموجودة في مختلف أنحاء العالم والحقوق تتضمن: براءات الاختراع، النسخ، حقوق إعادة الإنتاج (أو ما يشابهها)، التصاميم المسجلة، العلامات التجارية المسجلة والغير مسجلة، الإسم التجاري, وأي حق للاحتفاظ بمعلومات تبقى طي الكتمان، بالإضافة إلى أي تطبيق يتضمن أي من الحقوق الواردة في الفقرة بصيغة إلكترونية. وأي حق من حقوق الملكية الفكرية المذكورة بالقوانين أو المتعارف عليها دولياً

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>أعمال:</b> تعني الخدمات التي تقدم بناء على رغبة العميل والتي يقوم بها مزود الخدمة اعتماداً على مكان تواجده
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>ضمان: </b>
                            تعني الدفعة التي يقوم العميل بدفعها للموقع ريثما يحصل على خدمته المطلوبة بناء على الخدمة المطلوبة من قبل العميل و التي يوفرها له مزود الخدمة

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>طلب :</b>
                            
                             يعني العمل المعروض أو الممنوح من قبل العميل عبر الموقع لمزود الخدمة الذي تعهد بالقيام بهذا الخدمة لقاء المبلغ المتفق عليه بين الطرفين و الذي تم دفعه عبر موقعنا و/أو تطبيقنا الياٌ

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>بائع : </b>
                            يعني المستخدم الذي يوفر خدماته من خلال الموقع

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>خدمات مزودي الخدمات  : </b>
                            تعني الخدمات التي يقدمها مزودي الخدمات
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>مستخدم ، عميل ، أنت ، لك : </b>
                            تعني الفرد الذي يقوم بزيارة واستخدام الموقع
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>عقد المستخدم: </b>
                             يعني – اتفاقية المستخدم – سياسة الخصوصية كما يتم تحديثها بين فترة وأخرى، وأية بنود أخرى ذات صيغة تعاقدية تم الموافقة عليها من قبل العميل ومزودي الخدمات  وتم إضافتها على الموقع، ومدى اتساقها مع اتفاقية المستخدم وقيود السلوك
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>الموقعنا و/أو تطبيقنا: </b>
                         
                             يعني المواقع و/أو التطبيق الذي تشغل من قبل “يورفكس ” والمتوفر على الرابط     أو أية خدمة مرتبطة بـ”يورفكس” سواء كانت تطبيقات أو أدوات أخرى 
                            www.URFXCO.COM
                        </p>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        1. نظرة عامة
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            بالدخول واستخدام موقعنا و/أو تطبيقنا فأنت توافق على البنود التالية في موقع و/أ, تطبيق “يورفكس ”: <p>
                        <p>
                            أ. يحق ليورفكس  التعديل على اتفاقية المستخدم وسياسة الخصوصية أو أي من المعلومات المرتبطة بها من فترة لأخرى.</p>
                        <p>
                            ب. الموقع و/أو التطبيق موجود على الفضاء الإلكتروني ويمكن للمستخدمين بيع وشراء الخدمات والمواد , و يُمكّن الموقع المستخدمين من العمل مع بعضهم بشكل مباشر لإنجاز المشاريع المأجورة، بيع وشراء المواد و/أو الاستفادة من الخدمات التي يوفرها شركائنا و مزودي الخدمة.</p>
                         <p>   ج. قبل استخدام موقع و/أو تطبيق “يورفكس ” يجب قراءة كامل اتفاقية الاستخدام و سياسة الخصوصية وكل المعلومات المتعلقة بها.</p>
                          <p>  د. يجب عليك أن تقرأ وتوافق على كل الشروط الواردة فيها والمرتبطة بها، هذه الاتفاقية وقواعد السلوك، سياسة الخصوصية وجميع سياسات الموقع و/أو التطبيق. نحن ننصحك بشدة أن تقوم بذلك وأثناء قراءتك يرجى الضغط على الارتباطات التشعبية وقراءة محتواها أيضاً. بموافقتك على هذه الاتفاقية فإنك توافق علي شروطنا طوال فترة استخدامك للموقع و/أو التطبيق أو عند استخدامك لإحدى الأدوات التي نوفرها ليتفاعل المستخدمون مع الموقع و/أو التطبيق. بعض مواقع و/أو تطبيق “يورفكس ” تتضمن شروط إضافية أو مختلفة سنزودك بها عند استخدامك لإحدى هذه الخدمات.
                        </p>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        2. المسؤولية القانونية
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أ. يجب أن لا تستخدم موقعنا و/أو تطبيقنا يورفكس في الحالات التالية :
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إذا كنت لا تستطيع إنشاء عقود ملزمة قانونياً .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إذا كان عمرك أقل من 18 عاماً.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إذا كنت محظورا من تلقي الخدمات بناء على القانون السعودي أو أي قانون  تجاري آخر معترف به .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إذا كنت محظورا من استخدام موقع و/أو تطبيق يورفكس .

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ب. استناداً إلى القانون المحلي، إذا كان الشخص الذي تجاوز عمر 15 ولم يبلغ 18 مسموحاً له باستخدام حسابات البالغين فإن صاحب الحساب سيكون مسئولاً عن أي شي يتم عمله من خلال ذلك الحساب.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ج. يمكن للمستخدم أن يعطي حسابات العمل أو الشركات الخاصة به ، ليكون ذلك مرتبطاً بحساب المستخدم. وهنا يجب على المستخدم أن يعلم أن حساباته المرتبطة بحسابات العمل والشركات لن تخضع شركاته لشروط هذه الاتفاقية بل إن المسؤولية بالكامل تعود على الشخص مالك الحساب.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يمكننا بناءاً على حريتنا الكاملة أن نرفض تسجيل أي فرد أوكيان قانوني من شركات أو مؤسسات أوأي جهة أخرى في موقعنا و/أو تطبيقنا.
                        </p>
                    </li>                    
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        3. إستخدام منصة و/أو تطبيق “يورفكس” 
                                        
                    </li>
                    <li href="#" class="list-group-item">
                        <p>عند استخدامك “يورفكس ” فيجب عليك أن :</p>  
                        <p>
                            1. لا تنشر أي طلب أو مشروعأ أو مواد أو خدمات أو محتويات لا تناسب التصنيفات والأقسام على موقعنا و/أو تطبيقنا وخدماته.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            2. لاتخترق أي من القوانين التي تتعلق بحقوق طرف ثالث أو سياساتنا كبنود إتفاقية الاستخدام .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            3. تكون قادراً على دفع ما يترتب عليك مقابل خدمة حصلت عليها إلا في حال قام مزودي الخدمات  بتغيير الخدمة التي وافقت على شرائها .

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            4. لا للتحايل أو التلاعب على معلومات الفوترة والحسابات الخاصة بموقعنا و/أو تطبيقنا .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            5. لا لنشر محتوى خاطئ أو غير دقيق أو مضلل، افترائي أو هجومي (بما فيها المعلومات الشخصية) .

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            6. لا تقم بأي عمل بهدف التأثير على السمعة (كعرض أو إدخال أو إخراج معلومات على أنها تخص الموقع وهي لا تتعلق بموقع يورفكس).
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            7. لايسمح لك بنقل حسابك الخاص على “يورفكس ” متضمناً معلوماته وإسم المستخدم إلى طرف آخر دون إستيفائه وموافقته على شروطنا. و يتوجب عليك اشعارنا خطيا قبل عمل ذلك.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            8. لا يسمح بنشر فيروسات أو أي برمجيات خبيثة أخرى يمكن أن تسبب الضرر لـ”يورفكس ” ، الموقع و/أو التطبيق أو متعلقاته أو المستخدمين الذي يستفيدون منه (كحقوق ملكيتهم الفكرية، الخصوصية وحقوق النشر) بشكل غير شرعي، تهديدي، مزعج، افترائي، منتهك للخصوصية، مبتذل، فاحش أو دنيء أو أي نوع آخر من المضايقات التي تسبب الضغط أو الإزعاج لهم، أو تولد الكراهية تجاه أي شخص.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            9. لا تقم بتحميل وتجميع قوائم من موقعنا و/أو تطبيقنا لإظهارها مع قوائم من مواقع أخرى من دون موافقتنا الخطية، “نموذج” “خطاب” او وسيلة أخرى لربط أي جزء من موقعنا و/أو تطبيقنا مع مواقع أخرى قبل الحصول على موافقتنا الخطية.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            10. لا تقم بمحاولة تعديل، ترجمة، توليف، تحويل، تركيب، تحليل أو إبطال أي برنامج مستخدم من قبلنا في التواصل مع موقع “يورفكس ”.

                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            11. عدم نسخ أو تعديل أو نشر حقوق أو محتوى من موقعنا و/أو تطبيقنا “يورفكس ”  او علامتنا التجارية .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            12. عدم إستخدام أي وسيلة تجمع من خلالها معلومات المشتركين متضمنة عناوين البريد الالكتروني، من دون موافقتهم.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            13. عدم نشر أو بيع أي منتجات أو خدمات أو معلومات مخالفة للشريعة الإسلامية و الأعراف المحلية و القانون السعودي والعربي و الدولي وكل ما من شأنه الإضرار بالنفس أو الإنسان أو الطفل أو ذات الأرواح .
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            14. لا يجوز لك السباب أو اللعان أو الشتم بأي حال من الأحوال.
                        </p>
                    </li>
                    
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        4. إنتهاك حقوق الملكية الفكرية                   
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            من سياستنا الرد على الإشعارات حول الانتهاكات المزعومة لحقوق الملكية الفكرية، ان سياستنا الخاصة بانتهاك حقوق النشر والتأليف مصممه لجعل الاشعارات للانتهاكات المزعومة لنا واضحة قدر المستطاع، ولكننا لاقد نهمل عدداً من الاشعارات التي تصلنا  والتي قد تكون مخادعة او صعبة الفهم او من الصعب التحقق من صحتها، إذا اعتقدت ان حقوق الملكية الفكرية الخاصة بك قد تم انتهاكها، فمن فضلك أعلمنا بذلك من خلال التواصل معنا  على T@URFXCO.COM  من خلال هذا الرابط على موقعنا و/أو تطبيقنا وسوف نقوم بالتحقق من الأمر.
                        <p>                       
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        5. الرسوم والخدمات
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            نقوم كموقع و/أو تطبيق يورفكس  بإستقطاع أو تحصيل رسوم الخدمات من مزودي الخدمة حال تقدم العميل بطلب اي خدمة فعندما تستخدم خدمة لها رسوم، يُصبح لديك فرصة لإستعادة الرسوم مالم تستقبل ردوداً على طلبك , ونحن بدورنا نقوم بإعادة الرسوم بعد إلغاء الطلب  و هذا في حال انه لم يتم تاكيد الطلب من اي من مزودي الخدمة  وذلك استناداً على جدولنا الزمني الخاص بإعادة الرسوم والاستحقاقات، الذى من الممكن أن نُغيره من وقت لآخر وسوف نُعلمك بالمتغيرات  إن وجد 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            من الممكن أن نقوم بتغيير الرسوم لخدماتنا مؤقتاً لأغراض العروض الدعائية (مثلاً: التخفيضات على العضويات) أو الخدمات الجديدة، و يصبح مثل هذا التغيير فعالاً عندما نقوم بوضع العرض الترويجي المؤقت والخدمات الجديدة على موقعنا و/أو تطبيقنا , و لايحق للعميل السابق المطالبة بالإستفادة من العروض الترويجية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            في حال تم تاكيد الطلب و استلامة من قبل اي من مزودي الخدمة و من ثم قام العميل بالغاء الطلب فان المبلغ المحتجز على العميل او المدفوع من قبل العميل غير مسترد و يعتبر رسوم خدمه لموقعنا و/أو تطبيقا ولايحق للعميل و/أومزود الخدمة المطالبة به في اي حال من الاحوال
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            رسوم إشتراكات العضويات ( شركة/مؤسسة , مستثمر , مهني ) لا تعاد حتى في حال إلغاء العضوية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لموقع يورفكس  نسبة متفاوته من اي خدمة او عملية تتم من خلال موقعنا و/أو تطبيقنا  يتم اقتصاصها من حساب مزود الخدمة حال استلام المبلغ من العميل و/أو المستفيد من الخدمة والتي تم الاتفاق عليها من خلال موقعنا و/أو تطبيقنا 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            في حال الدفع النقدي لمزود الخدمة من قبل العميل فانة يتوجب على مزود الخدمة الدفع مباشرة لمنصة و/أو تطبيق يورفكس النسبة المتفق عليها  خلال مدة 24 ساعة وفي حال عدم الاتتزام بذلك يحق لنا ايقاف الحساب و تكون المبالغ المستحقة على مزود الخدمة واجبة السداد فورا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند إلغاء أي طلب و إستعادة أي مبالغ مدفوعة لحساباتنا يخصم منها اي رسوم بنكية قد تطرء نظير عمليه اعاده المبلغ للعميل إذا لم تكن مجانية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تخضع الرسوم للتحويلات الدولية للمصارف و شركات تحويل الأموال و مزود خدمة الدفع ببطاقات الإئتمان 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند طلب سحب مبلغ تم أعتماده للتحويل سيصل لك المبلغ فى غضون 5 أيام عمل لايحتسب منها العطل الأسبوعية والرسمية 
                        </p>
                    </li>                    
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">
                        6. شروط الإنضمام للشركات و المؤسسات:
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يحق لأي شركة أو مؤسسة فردية الإنضمام إلى موقعنا و/أو تطبيقنا وفق نشاطها 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            دفع رسوم العضوية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يشترط تحميل صورة من السجل التجاري ساري المفعول ملونة و حديثة بصيغة PDF فقط 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            إرسال إحداثيات مقر إدارة الشركة / المؤسسة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يشترط تحميل صورة من شهاده التامينات الاجتماعية سارية المفعول ملونة و حديثة بصيغة PDF فقط 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تزويدنا بكافة المعلومات المطلوبة في الملف الشخصي في صفحة ( حسابي ) الخاص بالجهة 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يشترط تحميل صوره لكل فريق عمل تم تسجيله في موقعنا و/أو تطبيقنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يشترط  تسجيل بيانات السياره ( لوحه السياره المستخدمة، نوعها)لكل فريق يتم تسجيلة في موقعنا و/أو تطبيقنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يشترط  تسجيل رقم جوال فريق لكل فريق عمل تم تسجيله في موقعنا و/أو تطبيقنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يحق لكل شركة / مؤسسة تقديم عروضها وفق نشاطاتها فقط 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أن تكون الشركة / المؤسسة مملوكة بالكامل لمواطنين فقط 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تسجيل بيانات البطاقة الائتمانية المستخدمة في حال اختيار طريقه الدفع الشهرية وفي حال الدفع نقدا او بواسطه شيك فانة يشترط دفع المبلغ المستحق لمده سنة ميلادية كاملة من تاريخ التسجيل في الموقع
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة  بعدم تقديم اي خدمات تخل بالاعراف المتعارف عليها في المملكة العربية السعودية او مخالفه للشريعة الاسلامية
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            بإنضمامك فأنت تقر بالموافقة على كل ما تضمنته لائحة إتفاقية الإستخدام و سياسة الخصوصية
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            بمجرح التسجيل في يورفكس من خلال موقعنا WWW.urfxco.com او  تطبيق يورفكس او من خلال التسجيل اليدوي من قبل ادارة التطبيق فانكم توافقون على ان نقوم نحن او من نفوض بالنيابة باستقطاع نسبة و قدرها 15% من قيمة كل طلب يتم استلامة او تنفيذه عن طريق منصة يورفكس
                        </p>
                    </li>                    
                </ul>


                <ul class="list-group">
                    <li class="list-group-item active">
                        7. شروط الإنضمام للمهنيين و الحرفيين و الافراد:
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يمكن لأي مهني و حرفي وفرد يمتلك اي مهارات او خدمات يعتقد بانها تخدم العملاء بالإنضمام إلى موقعنا و/أو تطبيقنا و تقديم الخدمات للعملاء 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            دفع رسوم العضوية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تحميل صورة من الهوية الوطنية واضحة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تحميل صورة من هوية مقيم ( الاقامة) سارية المفعول لغير السعوديين من الأمام ملونة و واضحة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا تقبل صور الوثائق بكاميرا الهواتف المحمولة 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            حفظ  بإحداثية مقر الإقامة عن طريق موقعنا و/أو تطبيقنا 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة على أنه لن تطالب بأي مبالغ إضافية من عملائنا او منا. و يقر بالتزامة بالمطالبة فقط بمبلغ الخدمة المتفق عليها مع العميل و يخصم منها اي رسوم تخص تطبيق او منصة يورفكس
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة على أن رسوم يورفكس بحسب الباقة التي قمت باختيارها و انها حق واجب السداد فورا من قبلك دون اي اعتراض من قبلك
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة و تفويض موقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة باستقطاع النسبة المتفق عليها و التي قمتم باختيارها من الباقات المقدمة من اي مبالغ يقوم العميل بدفعها لكم فورا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا يحق لك المطالبة بأي مبالغ مالية من موقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة و/أوالعميل عندما تنتهي المدة المحددة للتنفيذ و لم يتم الإنتهاء منه من قبلكم خلال المدة المتفق عليها
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة  بعدم تقديم اي خدمات تخل بالاعراف المتعارف عليها في المملكة العربية لاسعودية او مخالفه للشريعة الاسلامية
                        </p>
                    </li> 
                    <li href="#" class="list-group-item">
                        <p>
                            بمجرح التسجيل في يورفكس من خلال بمجرد WWW.urfxco.com او  تطبيق يورفكس او من خلال التسجيل اليدوي من قبل ادارة التطبيق فإنك/ فإنكي توافق/ توافقي على ان نقوم نحن او من نفوض بالنيابة باستقطاع نسبة و قدرها 20% من قيمة كل طلب يتم استلامة او تنفيذه عن طريق منصة يورفكس
                        </p>
                    </li>                   
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        8. شروط الإنضمام للمستثمرين:                   
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يحق للتجار و المستثمرين الإنضمام إلى موقعنا و/أو تطبيقنا والإستفادة فقط من أقسام محددة فقط
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            دفع رسوم العضوية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تحميل صورة من الهوية الوطنية ملونة و واضحة بصيغة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تحميل صورة من هوية مقيم ( الاقامة) ساري المفعول لغير السعوديين من الأمام ملونة و واضحة بصيغة
                                                </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا تقبل صور الوثائق بكاميرا الهواتف المحمولة
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الإقرار و الموافقة  بعدم تقديم اي خدمات تخل بالاعراف المتعارف عليها في المملكة العربية السعودية او مخالفه للشريعة الاسلامية
                        </p>
                    </li>                    
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        9. المحتوي:                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عندما تقوم بإضافة محتوى فأنت تمنحنا الحق الحصري والعالمي والدائم والنهائي والحق الخالي من حقوق المؤلف والحق في ممارسة أي وكل حقوق الملكية للنشر والتأليف القابلة للترخيص من الباطن (خلال مستويات متعددة) والحق في العلامات التجارية والحق في الدعاية وحقوق قواعد البيانات (ولكن ليس أي حق اخر) تمتلكه في المحتوى، في أي وسط معروف الآن او في المستقبل
                        <p>
                    </li>
                </ul>


                <ul class="list-group">
                    <li class="list-group-item active">
                        10. نظام العضويات:                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            مدة إشتراك العضوية هي 365 يوماً وما يحتسبه النظام المتوافق مع السنة الميلادية 
                        <p>
                        <p>
                            يحق لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة  تعليق العضوية دون إشعار عند وجود أي إنتهاكات أو مخالفات أو قضايا و أن المستخدم هو من يتحمل تبعات التعليق كما يحق لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة ايضا الغاء العضوية في حال تدني مستوي الخدمة او افاده العملاء بعمليات تضليل او احتلاس او افادتك/ إفادتكم بحسب موقعنا بانك/ بانكي توفرين بعض الخدمات و انت/ انتي ليس على المام تام بها 
                        </p>                        
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        11. العقوبات:                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p><b>
                               1. عقوبات مزودي الخدمات :
                            </b></p>                       
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أنت تقر و تعترف أن ليورفكس  الحق في تعليق عضويتك لحين إنهاء أي خلافات تتعلق بالطرف الآخر
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجوز لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة حظر عضويتك نهائياً عند تكرار ملاحظات سوء التنفيذ                         </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجوز لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة بان تعمل كوسيط لحل أي خلاف قد يحدث بين العميل و مزود الخدمة و يكون  القرار الصادر منا نافذ على الجميع
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجوز لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة النشر في القائمة السوداء عند رفضك القرار الصادر منا في اي خلافات قد تكون  طرفا فيها
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                         <b>
                             2. عقوبات العملاء:
                         </b>   
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            عند تقديم طلب ليس جدياً يحق لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة تعليق العضوية و استقطاع المبلغ المطلوب لتقديم الخدمة المطلوبة من  البطاقة الائتمانية المسجلة في موقعنا و/أو تطبيقنا وفي حال انة لايوجد أوتعذر ذلك فانة يحق لموقعنا و/أو تطبيقنا و/أو شركة أبناء محمد بن صالح العثيم القابضة المطالبة بالسداد الفوري من قبلكم نقدا و دون اعتراض من قبلكم
                        </p>
                    </li>                    
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        12. تذاكر الدعم الفني:                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تعتبر تذاكر الدعم الفني هي الوسيلة الأولى لإستقبال الطلبات المتعلقة بخدماتك على موقعنا و/أو تطبيقنا , و يعمل عليها فريق الدعم الفني على مدار الساعة , و يجب متابعتها بحسب حالتها , و يمكنك التبليغ على أنها تذكرة متأخرة بعد مرور أكثر من 24 ساعة بإستثناء أيام الإجازات الرسمية و يوم الجمعة من كل أسبوع 
                        <p>                        
                    </li>
                </ul>



                <ul class="list-group">
                    <li class="list-group-item active">
                        13. انت تعترف وتوافق على:
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            نحن نتصرف فقط كبوابة إلكترونية (وسيط) للنشر والتسويق عبر الإنترنت للمحتوى الذي يتم إنشائه بواسطة مزودي الخدمة ، نحن لا نضمن أن المحتوي الذي ترسله سوف ينشر على الموقع، نحن نمتلك الحق في اتخاذ أي تصرف نراه مناسباً في القبول أو الرفض مع الأخذ بعين الإعتبار المحتوى الذي يتم إنشائه بواسطتك كمُستخدم
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ب. لا تقع علينا أي مسئولية الحذف او الفشل في تخزين أي محتوى ، سواء كان أو لم يكن المحتوي متاحاً على الموقع.
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ج. كل محتوى يتم عرضه على موقعنا و/أو تطبيقنا يكون خاضع للموافقة عليه من قبلنا، و من المحتمل أن نرفض أو نوافق أو نضيف المحتوى الذي تم إنشائه بواسطتك كمستخدم بالاعتماد فقط على لوائحنا وحدنا
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            د. أنت تضمن أن المحتوي الذي تم إنشائه بواسطتك:
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن ينتهك أو يخترق أي حقوق نشر وتأليف او براءات اختراع او علامة تجارية او سر مهنة او حقوق ملكية فكرية اخري او حقوق ملكية او خصوصية أي شخص
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن تنتهك أي قانون او لوائح 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ليس بقصد تشويه او تشهير بالتجار أو المستخدمين 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن يشير او يحتوي على محتوي مخالف 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن يحتوي على تطوير او تصميم او تصنيع او انتاج الصواريخ او الأسلحة النووية او الأسلحة الكيمائية او الأسلحة البيولوجية 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن يحتوي على مواد مرتبطة بالأنشطة الإرهابية
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن يتضمن معلومات غير مكتملة او كاذبة او غير دقيقة عن مستخدم او أي فرد اخر 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لن يحتوي على فيروسات او برامج الكمبيوتر و الهواتف التي تهدف الى الاضرار او التدخل بالضرر الى أي نظام او التعرض لأي نظام او سرقة اي نظام او بيانات او معلومات شخصية
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            كما ان موافقتنا علية لاتعفيك على اي مسائلات قانونية و غيرنا و نخلي مسئوليتنا بشكل قاطع عن أي محتوي يخصك في التطبيق
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أنت تعترف و توافق على اننا من الممكن ان نستخدم معلوماتك الشخصية في شركة أو مواقع أخرى مرتبطة بنا فقط ، ومعلوماتك قد يتم إستخدامها لغرض خدمتك , إذا كنت لا ترغب في ذلك فأنت توافق على أننا من الممكن ألا يكون بإستطاعتنا أن نتيح لك إستخدام الموقع أو لا يمكننا خدمتك ومن الممكن أن نغلق حسابك
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            قد تحتوي المعلومات المتوفرة على موقعنا و/أو تطبيقنا من خلال المدونة على معلومات عامة عن الأمور القانونية والمالية  و غيرها  من أمور اخرى من المعلومات ، لا يجب ان تعتمد على المعلومات المتاحة على موقعنا و/أو تطبيقنا كبديل لمشورة المختصين ، إذا كان لديك أسئلة خاصة عن أي من المسائل يجب عليك استشارة متخصص
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ز. نحن نوفر منفذ غير مراقب للمحتوي الذي تم إنشائه بواسطة طرف ثالث، بما في ذلك ردود فعل المستخدمين ومقالات بمحتوي أصلي واراء (او روابط إلى مثل هذا المحتوي المقدم بواسطة طرف ثالث)، نحن نتصرف فقط كبوابة الكترونية وليس علينا أي مسئوليات استناداً إلى –أو مرتبطاً بـ – المحتوي التي تم إنشائه بواسطة الطرف الثالث على الموقع و/أو التطبيق، سواء الانشاء كان تحت مظلة قوانين النشر والتأليف او حقوق ملكية فكرية أخرى او التشوية او التشهير او الخصوصية او أي حقوق قانونية اخري
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            الموقع و/أو التطبيق قد يحتوي على روابط إلى مواقع طرف ثالث أخرى، نحن لا نتحكم في المواقع التي نضع روابط لها على موقعنا و/أو تطبيقنا، نحن لا نؤيد المحتوي او المنتجات او الخدمات او الممارسات او السياسات او الأدائيات الخاصة بالمواقع التي نضع روابط لها على موقعنا و/أو تطبيقنا، ويكون استخدم المحتوى الذي تم إنشائه بواسطة الطرف الثالث واستخدام الروابط الخاصة بهذا المحتوي و/او المواقع على مسئوليتك الخاصة
                        </p>
                    </li>                    
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        14. الإعلانات:                   
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أ. ما لم يتم الاتفاق على ذلك، فلا يجب عليك أن تضع اعلان عن موقع خارجي او منتج او خدمة على موقعنا و/أو تطبيقنا، أي رابط لموقع الكتروني سيتم وضعه على الموقع بما في ذلك القوائم او العروض او وصف القوائم او المكان الخاص بالتوضيحات او المكان الخاص بالرسائل، يجب ان يكون مرتبط بالمشروع او العرض او البند المدرج بقائمة الموقع او المستخدم او الخدمة الُمقدمة على الموقع، وكمثال لعناوين المواقع المسموح بها هو العنوان الخاص بملف نماذج عملك
                        <p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ب. من الممكن ان نضع إعلانات ممولة و عروض ترويجية على الموقع الالكتروني، انت تعترف وتوافق علي اننا لا يجب ان نكون مسئولين عن أي فقد او تلف من أي نوع يحدث بواسطتك كنتيجة لوجود مثل هذه الإعلانات/العروض الترويجية علي الموقع الالكتروني او التعامل مع المعلنين الناتج عن ذلك، وعلاوة علي ذلك انت تعترف وتوافق علي محتوي الإعلانات الممولة او العروض الترويجية تكون محمية بموجب حقوق النشر والتأليف او العلامات التجارية او علامات الخدمة او براءات الاختراع او أي حقوق ملكية فكرية اخري او حقوق ملكية او قوانين، ما لم يتم التصريح بذلك بواسطة “يورفكس ”   او أي مالك حقوق طرف الثالث، انت توافق علي الا تضيف او تبيع او توزع او تملك او تنشئ اعمال مشتقة استناداَ على هذه الإعلانات/العروض الترويجية
                        </p>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        15. التواصل مع المستخدمين الآخرين                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجب عليك الا تضع عنوان بريدك الإلكتروني على الموقع، بإستثناء مانطلبه منك في حقل “البريد الالكتروني” الموجود في استمارة التسجيل او عند طلبنا او ما لم يُسمح من قبلنا بوضعه على الموقع , و كذلك رقم / أرقام الهواتف و معرفات برامج التواصل المباشر أو التراسل 
                        <p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            ب. ما لم تكن تمتلك علاقة سابقة مع مستخدم، يجب عليك فقط ان تتواصل مع المستخدمين من خلال الموقعو/أو التطبيق، بما في ذلك استخدام المكان الخاص بالرسائل او صندوق الرسائل الخاص او وسائل المراسلة، ما لم نوفر معلومات الاتصال خاصة بمستخدم من خلال ميزة او وظيفة متاحة على الموقع. يجب عليك الا تحاول الاتصال مع مستخدمين آخرين بخصوص الخدمات عبر أي وسيلة أخرى مثل البريد الالكتروني او التليفون او Skype او  ICQا و  AIM او  MSN Messenger او GTalk او ياهو وواتسب وغيرها
                        </p>
                    </li>
                </ul>


                <ul class="list-group">
                    <li class="list-group-item active">
                        16. خصوصية يورفكس:                   
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            لا يسمح لك بالنشر بقصد التشهير أو الإساءة عن أي خلاف يقع على أو مع موقع يورفكس  أو أحد شركائها في أي وسيلة إعلامية أخرى مالم تكن جهة إختصاص حكومية , فنحن نصغي لك و نوفر لك كل الحلول للمشكلات المتعلقة بك من خلال (تذاكر الدعم الفني) ويمكنك التواصل معنا عن أي مشكلة تحدث مع شركائنا من خلال الإبلاغ عن خدمات او طلبات أو سرقة حسابك أو لم يكن الإنجاز مع شركائنا ومزودي الخدمات وفق المطلوب 
                        <p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يجب عليك إستنفاذ طرق حل الخلاف و هي كالتالي : ( تبليغنا عن الخلاف من خلال التذاكر , فإن لم تصل إلى حل , يجب عليك التواصل مع إدارة الموقع و/أو التطبيق من خلال نموذج الإتصال بنا, في حال لم تكن حلولنا المقدمة لك مرضية يجب عليك التوجه لجهات الإختصاص في بلدك ورفع شكوى قانونية على طرف الخلاف 
                        </p>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        17. مكافحة غسيل الأموال و الإرهاب و العنف:
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أنت تقر و تعترف بأن مصادر الأموال التي تستخدمها في الشراء و طلب الخدمة و/أو تقديم الخدمة  في منصة ,/أو تطبيق و/أو موقع يورفكس  ليست من مصادر مجهولة و غير معلومة المصدر , أو أن مشاريعك ممولة من جهات خارجية محظورة وفق قانون مكافحة غسيل الأموال السعودي 
                        <p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            أنت تقر و تعترف بأنك لا تدعم و لا تنتمي  إلى أي جهات أو تنظيمات إرهابية , أو جماعات أقر القانون السعودي بأنها جماعات إرهابية 
                        </p>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item active">
                        18. التحديثات                    
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            آخر تحديث لهذه الإتفاقية كان بتاريخ 10/مارس/2016م 
                        <p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            يحق لموقع و/أو تطبيق يورفكس و/أو شركة أبناء محمد بن صالح العثيم القابضة  تحديث هذه الوثيقة في أي وقت 
                        </p>
                    </li>
                    <li href="#" class="list-group-item">
                        <p>
                            تلتزم يورفكس  بتزويدك بأي تحديثات تطريء على هذه الوثيقة 
                        </p>
                    </li>
                </ul>

                @*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" translate>
                                    Definitions:
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOne">
                            <div class="panel-body">
                                <p translate>Account / Account: means the account that you create by registering on our site and / or our application , and includes the user 's name frank and e-mail address, name and other important information .</p>
                                <p translate>Buyer / client / applicant : means the user who is in agreement or the purchase of materials or services from service providers through our website and / or our application .</p>
                                <p translate>
                                    Display: means the agreement reached by both the client and service providers based on what presented by the client and can be supplied service providers .
                                </p>
                                <p translate>Close the purchase means the document that explains the terms and conditions agreed upon in the contract , and basically depends on the order page published on our platform . And that Tosah demand by the customer details .</p>
                                <p translate>
                                    Amount received : According to the document means buying what was agreed upon service providers and the customer , and will be handed over as soon as the work is finished .
                                </p>
                                <p translate>Achievement process : a process watched by both service providers and the client to ensure access to the service provided .</p>
                                <p translate>
                                    Service Provider : means service providers investigator legal requirements and common in the sales process and recorded in our platform and / or our application.
                                </p>
                                <p translate>Aorvks "URFX", " we" , " us " , " platform" , " our platform ," " our application : " Application " means Moukanaw / or Ttabiguenao / or our platform.</p>
                                <p translate>Inactive account: means the user who did not record the entry for three consecutive months account.</p>
                                <p translate>Intellectual Property Rights : You mean some or all or part of the intellectual property rights in various parts of the world and rights include : patents, copying, reproduction rights ( or similar ) , registered designs, trade marks registered and unregistered , trade name , and any right to retain the information kept secret , in addition to any application that includes any of the rights set forth in paragraph in electronic form . And any right of intellectual property rights mentioned laws or internationally recognized .</p>
                                <p translate>Work means the services provided at the customer 's desire and performed by the service provider , depending on his whereabouts .</p>
                                <p translate>
                                    Warranty: Batch means that the customer paid for the site until gets the required service based on the service requested by the client , which has provided the service provider.
                                </p>
                                <p translate>
                                    Order: means work on display or given by the client through the website of the service provider , who has vowed to carry out this service to meet the agreed amount between the two parties , which have been paid through our website and / or our application automatically .
                                </p>
                                <p translate>Seller: means the user who provides his services through the site .</p>
                                <p translate>
                                    Service providers services means services provided by service providers .
                                </p>
                                <p translate>User, client , you, you mean the individual who is on a visit and use the site.</p>
                                <p translate>
                                    User contract : I mean - User Agreement - Privacy Policy as updated from time to time , and any other relevant contractual formula has been approved by the client and service providers have been added to the site, and their compatibility with the User Agreement and restrictions behavior items.
                                </p>
                                <p translate>Moqana and / or our application means the sites and / or application that operates by " Aorvks " which is available on the link www.URFXCO.COM or service linked to " Aorvks " whether other applications or tools.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" translate>
                                    1. Overview
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwo">
                            <div class="panel-body">
                                <p translate>
                                    Login and use our site and / or our application you agree to the following items in the site and / A, the application of " Aorvks " :
                                </p>
                                <p translate>a. Entitled to Aorvks amendment to the User Agreement and Privacy Policy or any of the associated information from period to period , and we pledge telling you about any modifications made to the Privacy Policy and the close of Use agreement. Send notices via e- ebi application.</p>
                                <p translate>B. Site and / or the application exists on the cyberspace and users can buy and sell services and materials , and can be directly website users to work with each other to accomplish the paid projects , the sale and purchase of materials and / or benefit from the services provided by our partners that , and service providers .</p>
                                <p translate>C . Before you use the site and / or the application of " Aorvks " must read the entire Use Agreement and Privacy Policy and all the information related to them.</p>
                                <p translate>D. You must read and agree to all the conditions contained therein and associated with it, this Agreement and Code of Conduct , Privacy Policy and all the location and / or application policies. We strongly recommend that you do this and as you read , please click on the hyperlinks and read the content as well. Consent to this agreement , you agree to our terms throughout the period of use of the Site and / or the application or when you use one of the tools we provide to users to interact with the site and / or application. Some sites and / or the application of " Aorvks " include additional or different conditions we will provide you with when you use one of these services .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenew" aria-expanded="false" aria-controls="collapsenew" translate>
                                    2. Liability
                                </a>
                            </h4>
                        </div>
                        <div id="collapsenew" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapsenew">
                            <div class="panel-body">
                                <p translate>a. You must not use our website and / or our application Aorvks in the following cases :</p>
                                <p translate>If you can not create a legally binding contract .</p>
                                <p translate>If you are under 18 years of age.</p>
                                <p translate>If you are prohibited from receiving services at the Saudi law , or any other commercial law recognized .</p>
                                <p translate>If you are prohibited from using the site and / or application Aorvks .</p>
                                <p translate>B. Based on domestic law , if a person who has exceeded the age of 15 but under 18 allowed him to use the adult accounts the account holder will be responsible for anything being done through that account.</p>
                                <p translate>C . The user can give the work its own accounts or companies , to be linked to the user account. Here, the user must be aware that the calculations associated with the accounts of his companies , companies working with the terms of this Agreement will not be subject but the entire responsibility back on the person account holder .</p>
                                <p translate>D. We can based on the full freedom to reject the registration of any individual legal Okean from companies or institutions , or any other point in our and / or our application .</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" translate>
                                    3. The use of the platform and / or the application of " Aorvks "
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseThree">
                            <div class="panel-body">
                                <p translate>When you use " Aorvks " You must :</p>
                                <p translate>1. Do not publish any request or project , materials or services , or the contents do not fit the categories and sections on our website and / or our application and services .</p>
                                <p translate>2. Atakhtrq any of the laws concerning the rights of a third party or our policies as items Usage Agreement .</p>
                                <p translate>3. be able to pay the consequences for a service you received only if the service providers to change the service that agreed to buy it .</p>
                                <p translate>4. Do not to circumvent or manipulate the billing information and accounts of our site and / or our application .</p>
                                <p translate>5. Do not wrong to publish the content or inaccurate or misleading , defamatory or offensive ( including personal information ) .</p>
                                <p translate>6. Do not do any work in order to influence the reputation ( as a show or input or output information as specific to the site and is not related to the location of Aorvks ) .</p>
                                <p translate>7. does not allow you to transfer your own account on " Aorvks " including his information and username to another party without met and agreed to our terms. And you might have to notify us in writing before doing so.</p>
                                <p translate>8. Do not allow the deployment of viruses or other malicious software can cause damage for " Aorvks ," Site and / or the application or belongings or users who benefit from it ( such as the rights of intellectual property, privacy and copyright ) illegal , threatening , annoying, defamatory , violator of privacy , vulgar , obscene, despicable or any other kind of harassment that cause stress or inconvenience them, or generate hatred towards anyone.</p>
                                <p translate>9. Do not download and compile lists of our site and / or our application to show with lists from other sites without our written permission , " model " , " speech " or other means to connect to any part of our site and / or our application with other sites before getting our written permission .</p>
                                <p translate>10. Never attempt to modify, translate , synthesis , conversion , installation , analysis or nullify any user program by us to communicate with the site " Aorvks ."</p>
                                <p translate>11. do not copy , modify, publish rights or the content of our site and / or our application " Aorvks " or our brand .</p>
                                <p translate>12. Do not use any means of gathering during which the subscriber information , including email addresses , without their consent.</p>
                                <p translate>13. not to publish or sell any products or services or in violation of Islamic law information and local mores and Saudi Arabian law, and international and all that would self or man or child lives or damage.</p>
                                <p translate>14. You shall not curse or insults or verbal abuse in any way .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" translate>
                                    4. infringement of intellectual property rights
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFour">
                            <div class="panel-body">
                                <p translate> It is our policy to respond to notices about alleged violations of intellectual property rights, that our policy of violating copyright designed to make notices of alleged violations of us and clear as possible , but we Waaqid neglect the number of notices that we receive that could be tricky or difficult to understand or difficult to verify , if you believe that your intellectual property rights have been violated , it is please let us know so by communicating with us on HELp@URFXCO.COM through this link on our website and / or our application and we will verify the matter.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" translate>
                                    5.Fees and services
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFive">
                            <div class="panel-body">
                                <p translate>We as the location and / or application Aorvks collect service charges from the service providers if the customer applied for any When using a service with service charge , you have a chance to recover the fees unless it receives responses to the request , and we are doing our part to re- fees after the cancellation of the demand and this in case he did not the order confirmation from any of the service providers , based on your schedule our schedule to re- fees and benefits , which could change it from time to time and will let you know if any variables .</p>
                                <p translate>We may change the fees for temporary services for the purposes of propaganda presentations (eg discounts on memberships ) or new services , and become such a change effective when we put the temporary promotional offer new services on our site and / or our application , and has no right of former client claim the benefit of promotional offers.</p>
                                <p translate>In case the order confirmation and received by any of the service providers and from the client has to cancel the request , the amount retained on the client or paid by the client non-refundable and is a service to our Site and / or application and has no right to the customer and / Oomzod fee claim service no case .</p>
                                <p translate>Subscriptions memberships fees (company / organization , investor , professional ) will not be returned , even in the event of cancellation of membership.</p>
                                <p translate>Site Aorvks varying percentage of any service or process is done through our website and / or our application is truncated account of the service provider if the payment is received from the client and / or beneficiary of the service , which was agreed upon through our website and / or our application .</p>
                                <p translate>In case the cash payment to the service provider by the client , you must pay the service provider Mbacrkh Mansho / or application Aorvks agreed ratio during the period of 24 hours and was stopped for any account and be the amounts owed ​​by the service provider and payable .</p>
                                <p translate>When you cancel any request and restore any amounts paid to our calculations deducting any bank fees process may Ttra refund if the customer were not free .</p>
                                <p translate>Fees for international transfers of banks and companies are subject to the transfer of funds and provider of payment credit card service.</p>
                                <p translate>When you request the withdrawal of the amount was approved for conversion amount will reach you within 5 working days Aihzb them weekly and public holidays.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix" translate>
                                    6. conditions of accession to the companies and institutions :
                                </a>
                            </h4>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapsesix">
                            <div class="panel-body">
                                <p translate>Any company or individual institution is entitled to join our site and / or our application in accordance with the activity.</p>
                                <p translate>Payment of membership fees .</p>
                                <p translate>Required to download a copy of the commercial registration colored sari and modern effect only in PDF format.</p>
                                <p translate>Send waypoint company / organization 's headquarters</p>
                                <p translate>Required to download a copy of the Certificate of Social Insurance in force and effect colorful modern PDF format only .</p>
                                <p translate>Provide us with all the information required in the profile page ( my own ) department.</p>
                                <p translate>Required to upload an image for each working group has been registered in our website and / or our application</p>
                                <p translate>Required vehicle data recording ( used car plate , kind ) for each team is our record and / or our application</p>
                                <p translate>Requires registration of mobile number for each team working team has been registered in our website and / or our application</p>
                                <p translate>Each company / institution entitled to submit bids in accordance with the activities only.</p>
                                <p translate>The company / institution is wholly owned by citizens only.</p>
                                <p translate>The credit card used to record data in the event of choosing the monthly payment method in the event of payment in cash or by check , he is required to pay the amount due for a full calendar year from the date of registration at the site.</p>
                                <p translate>Acknowledge and agree not to provide any services without prejudice to the generally accepted norms in Saudi Arabia or violation of Islamic law .</p>
                                <p translate>By joining you acknowledge to agree to all the contents of the list of Terms & Conditions and Privacy Policy</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" translate>
                                    7. terms of accession for professionals and artisans and individuals :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSeven">
                            <div class="panel-body">
                                <p translate>And any professional craftsman and an individual can possess any Mehrat or services are believed to be serving customers to join our site and / or our application and service delivery to customers.</p>
                                <p translate>Payment of membership fees .</p>
                                <p translate>Download a copy of the national identity and clear .</p>
                                <p translate>Download a copy of the identity of a resident ( residence ) valid for non-Saudis from the front colored and clear.</p>
                                <p translate>Remember Bahaddatah the residence through our website and / or our application .</p>
                                <p translate>Acknowledge and agree that he would not demand any additional amounts from our customers or us . And acknowledges its obligation to claim only the amount agreed upon with the customer service and deducting any fees pertaining to the application or Aorvks platform.</p>
                                <p translate>Acknowledge and agree that Aorvks fees , according to the package that you have chosen and it is the right and duty payment immediately by you without any objection by you.</p>
                                <p translate>Acknowledgment and approval , and our mandate and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding Company to deduct the agreed rate , and that you have chosen the packages provided by the customer any amounts paid to you immediately .</p>
                                <p translate>You are not entitled to claim any money from our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding Company and / Owalamil When you finish the period specified for implementation and it is not finished by you within the agreed period .</p>
                                <p translate>Acknowledge and agree not to provide any services without prejudice to the generally accepted norms in Saudi for Asaudih or violation of Islamic law .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" translate>
                                    8. accession terms for investors :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseEight">
                            <div class="panel-body">
                                <p translate>The right for traders and investors to join our site and / or only our application and take advantage of the only specific sections .</p>
                                <p translate>Payment of membership fees .</p>
                                <p translate>Download a copy of the colorful national identity and a clear format.</p>
                                <p translate>Download a copy of the identity of a resident ( residence ) valid for non-Saudis from the front colored and clear format.</p>
                                <p translate>Do not accept the copies of documents with a camera cell phones</p>
                                <p translate>DownloadAcknowledge and agree not to provide any services without prejudice to the generally accepted norms in Saudi for Asaudih or violation of Islamic law .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" translate>
                                    9. Content
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseNine">
                            <div class="panel-body">
                                <p translate>When you add the content you give us the exclusive right and universal and lasting and final free right from the author 's rights and the right to exercise any and all property rights for publishing and authoring midwife to sublicense ( through multiple levels ) and the right brands , the right to publicity , and database rights (but not any other right ) is owned in the content , in which the center is known now or in the future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" translate>
                                    10. memberships system :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTen">
                            <div class="panel-body">
                                <p translate>Organic Order period is 365 days and Ihtsabh system compatible with the calendar year.</p>
                                <p translate>Entitled to our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding suspension of membership without notice when there are any violations or irregularities or issues and that the user is who will bear the consequences of the suspension, we are entitled to our site and / or our application and / or Sons Company Mohammed bin Saleh Al Othaim Holding also cancel membership in the case of the low level of service or benefit customers' operations mislead or Ahtlas or your statement / inform you according to our Bank / Banke Tofferan some of the services you and / Ante is not fully their familiarity .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" translate>
                                    11. penalties:
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseEleven">
                            <div class="panel-body">
                                <p translate>1. penalties service providers :</p>
                                <p translate>a.You acknowledge and recognize that Aorvks the right to suspend membership until the end of any differences relating to the other party .</p>
                                <p translate>B. To our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding Company permanently ban your membership when you repeat the Notes may be poor implementation .</p>
                                <p translate>C . To our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding Company may be transferred to work as a mediator to resolve any dispute that may occur between the customer and the service provider and be the decision of us take on everyone.</p>
                                <p translate>D. To our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding publishing company in the black list when you reject the decision of us at any disagreements may be a party may be .</p>
                                <p translate><b>. Customer sanctions :</b>2</p>
                                <p translate>When making a request not serious entitled to our site and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding suspension of membership and the deduction of the amount required to provide the requested service from the credit card registered on our site and / or our application and if it does not have a Ootadhir that it is entitled to our site and and / or our application and / or children of Mohammed bin Saleh Al Othaim Holding company demanding immediate repayment before you, in cash and without objection by you .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" translate>
                                    12. Support Tickets :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwelve">
                            <div class="panel-body">
                                <p translate>Support Tickets are considered the primary means of receiving requests for your services on our site and / or our application , and are working on the technical support team around the clock , and must be followed up according to their status , and you reported on it late ticket after more than 24 hours after the exception of vacation days official and Friday of each week.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen" translate>
                                    13. You acknowledge and agree that :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseThirteen">
                            <div class="panel-body">
                                <p translate>a. We act only electronic gateway ( broker ) for publishing and online marketing of the content that is created by the service providers , we can not guarantee that the content you submit will be published on the site, we have the right to take any action we deem appropriate in the acceptance or rejection of taking into consideration the content which is created by you as a user.</p>
                                <p translate>B. We have not located any responsibility for the deletion or failure to store any content, whether or not the content available on the site.</p>
                                <p translate>C . All content is displayed on our site and / or our application will be subject to approval by us, and are likely to reject or approve or add content created by you as a user relying solely on our own to our regulations .</p>
                                <p translate>D. You warrant that the content created by you :</p>
                                <p translate>Will not violate or pierce any copyright and authorship or patent , trademark or trade secret or intellectual property rights or other proprietary rights or privacy of any person .</p>
                                <p translate>You will not violate any law or regulations .</p>
                                <p translate>No intent to distort or defamation traders or users.</p>
                                <p translate>It will not indicate or contains content contrary .</p>
                                <p translate>It will not contain the development, design, manufacture or production of missiles or nuclear weapons or chemical weapons or biological weapons.</p>
                                <p translate>It will not contain materials linked to terrorist activities .</p>
                                <p translate>It will not include incomplete information or false or inaccurate for a user or any other individual .</p>
                                <p translate>It will not contain viruses or computer programs and phones that are intended to damage or interfere damage to any system or any system of exposure or theft of any system , data or personal information.</p>
                                <p translate>Also, our agreement with him to Atafeek any legal accountabilities and others and disclaim unequivocally for any content in the application instructions .</p>
                                <p translate>E . You acknowledge and agree that we could use your personal information only in the company or other sites linked to us, and your information may be used for the purpose of serving you , if you do not like it then you agree that we might not be in our power to give you the use of the site or not we can serve you it is possible to close your account.</p>
                                <p translate>F. The available information may contain on our site and / or our application through Entries general information on legal, financial and other other things, information matters , you should not rely on the information available on our website and / or our application as an alternative to the advice of professionals , if you have particular questions for any of the matters you should consult a specialist.</p>
                                <p translate>G . We provide unattended for content that is created by a third party access , including user feedback and articles and original opinions of the content ( or links to such content provided by a third party ) , we act only electronic gateway and we have no responsibilities based on -or linked b - content that is created by the third on the site and / or application , whether construction was under the umbrella of copyright laws or other intellectual property rights mutilation or libel or privacy or any other rights of a legal party .</p>
                                <p translate>H . Site and / or the application may contain links to other third-party sites , we do not control the sites that put links to them on our site and / or our application , we do not endorse the content or products, services or practices , policies or Alodaiaat own sites that put links them on our site and / or our application , and to be used for content that is created by a third party and use special links with this content and / or sites at your own risk .</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen" translate>
                                    14. ads:
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFourteen">
                            <div class="panel-body">
                                <p translate>a. What there is no agreement on it , you do not have to put announcement of an external site , product or service on our website and / or our application , any link to the Website will be put on the site, including lists offers or description lists or place special explanations or place private messages , must be linked to the project or the offer or list item on the site , user, or service offered on the site, as an example of addresses of authorized sites is your own business models file title.</p>
                                <p translate>B. It is possible to put the funded ads and promotions on the website, you acknowledge and agree that we shall not be responsible for any loss or damage of any kind by you is happening as a result of the existence of such ads / promotions on the website or dealing with advertisers resulting from that, moreover you recognize and agree on the content of funded ads or promotions are protected by copyrights, trademarks, service marks, patents or any other intellectual property rights or property rights or laws, unless permission to do so by "Aorvks "the owner or any third party rights, you agree not to add or sell or distribute, or possess or create derivative works based on these ads / promotions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen" translate>
                                    15. communicate with other users
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFifteen">
                            <div class="panel-body">
                                <p translate>a. You should not put your email address on the website address, except Mantlbh you in the "Email " field in the registration form or when we asked or unless permitted by us by placing it on the site, as well as the number / phone numbers and direct or multicast communication programs IDs.</p>
                                <p translate>B. What were not possess a previous relationship with a user , you should only have to communicate with users through Moqao / or application, including the use of the Messaging place or private messaging box or other means of correspondence , unless we provide contact information specific to a user through a feature or function available on the site . You should not be trying to connect with other users about the services through any other means such as e -mail or phone or Skype or a ICQ , AIM or MSN Messenger or GTalk or Yahoo and Oazb and others.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteenth" aria-expanded="false" aria-controls="collapseSixteenth" translate>
                                    16. Privacy Aorvks :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixteenth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSixteenth">
                            <div class="panel-body">
                                <p translate>a. You are not allowed to publish the intent of defamation or abuse of any disagreement located on or with the site Aorvks or one of its partners in any other media outlet unless you are a government entity specialization , we listen to you and provide you with all the solutions to the problems related to your through ( technical support tickets ) and you can communicate with us about any issue with our partners by reporting services or applications or theft of your account or achievement would not have with our partners and service providers as required .</p>
                                <p translate>B. You must be exhausted ways to resolve the dispute and are as follows: ( warning us about the dispute through the ticket , it did not reach a solution , you have to communicate with the site and the management and / or application , contact us form , in the case of our solutions provided were not you sick , you must orientation to the competent authorities in the country and raise the legal complaint on the edge of the row.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeenth" aria-expanded="false" aria-controls="collapseSeventeenth" translate>
                                    17. anti-money laundering and terrorism and violence :
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeventeenth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSeventeenth">
                            <div class="panel-body">
                                <p translate>a. You acknowledge and recognize that the sources of funds used in the purchase and the service request and / or provide the service in the platform, and / or application and / or site Aorvks not from unknown sources and of unknown origin , or that your projects funded by the banned third parties in accordance with the law against Saudi money laundering .</p>
                                <p translate>B. You acknowledge and recognize that you do not support and do not belong to any actors or terrorist organizations , or groups approved the Saudi law as terrorist groups.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeightteen" aria-expanded="false" aria-controls="collapseeightteen" translate>
                                    18. Updates
                                </a>
                            </h4>
                        </div>
                        <div id="collapseeightteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseeightteen">
                            <div class="panel-body">
                                <p translate>Last update of this agreement was dated 12/12/2015 m .</p>
                                <p translate>Entitled to signatories / or application Aorvks and / or Hrkhobina Mohammed bin Saleh Al Othaim Holding renovation of this document at any time.</p>
                                <p translate>Aorvks is committed to providing you with any updates Ttre on this document.</p>
                                <p translate>Last update of this agreement was dated 12/12/2015 m .</p>
                            </div>
                        </div>
                    </div>
                </div>*@


            </div>
        </div>
    </div>




</div>


