<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate>Job Request Management</h1>
</div>
<div class="wrapper-md profilepage" ng-controller="jobcontroller">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span translate>Jobs</span>
            <div class="pull-right">
                <!--<a class="btn btn-default btn-sm">Add Job</a>-->
                <!--<input class="btn btn-default btn-sm" type="button" value="Delete All" ng-show="IsMultipleDelete" ng-click="deleteSelectedServiceProviders()" />-->
            </div>
        </div>
        <div class="panel-body jobrequest">
           <div class="col-md-12 col-sm-12">
                <div class="media">
                    <tabset class="tab-container">
                        <tab heading="{{'Job Request'|translate}}">
                            <div class="row">
                                <div class="media-body  col-md-9 col-sm-9 col-xs-12 forinfo">

                                    <div class="form-group">

                                        <div class="col-md-4 col-sm-4 col-xs-12 "> <label class="control-label" for="exampleInputEmail1"><span translate>Job Description</span>:</label> </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 "><label class="control-label" id="exampleInputEmail1" name="JobName"><span ng-bind="JobName"></span></label>  </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4 col-xs-12 "><label class="control-label" for="exampleInputPassword1"><span translate>Requested By</span>:</label>  </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 "><label class="control-label" id="exampleInputPassword1" name="ClientName"><span ng-bind="ClientName"></span></label>  </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4 col-xs-12 "><label class="control-label" for="exampleInputEmail1"><span translate>Posted Date</span>:</label>  </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 "><label class="control-label" id="exampleInputEmail1" name="CompanyRegistrationNumber"><span ng-bind="PostedDate|date:'dd/MM/yyyy @ h:mma'"></span></label>  </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4 col-xs-12 "><label class="control-label" for="exampleInputEmail1"><span translate>Requested Date</span>:</label>  </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 "><label class="control-label" id="exampleInputEmail1" name="CompanyRegistrationNumber"><span ng-bind="StartDate|date:'dd/MM/yyyy @ h:mma'"></span> <span>To</span> <span ng-bind="EndDate|date:'dd/MM/yyyy @ h:mma'"></span></label>  </div>
                                    </div>
                                </div>
                            </div>

                            <tabset class="tab-container">
                                <tab heading="{{'Available'|translate}}">
                                    <div class="panel b-a">
                                        <div class="panel-body scroll-request">
                                            <ul class="list-group list-group-lg no-bg auto">
                                                <li class="list-group-item clearfix" ng-repeat="available in availableEmployees" ng-click="selectedEmployee(available.EmployeeId)" ng-class="{'active':available.EmployeeId == employeeId}">
                                                    <span class="pull-left thumb-sm avatar m-r">
                                                        <img alt="..." bn-lazy-src="../../Uploads/EmployeeProfile/{{available.ProfileImage}}" err-src="/Uploads/UserAvtar/default-user-avatar.png">
                                                       <i class="on b-white bottom"></i>
                                                    </span>
                                                    <span class="clear">
                                                        <span ng-bind="available.FirstName +' '+ available.LastName"></span>
                                                        <!--<small class="text-muted clear text-ellipsis"><span ng-bind="employeeList.Email"></span></small>-->
                                                    </span>

                                                </li>
                                                <li class="list-group-item clearfix" ng-if="availableEmployees==0">
                                                    <span translate>No record found</span>
                                                </li>
                                            </ul>

                                            
                                        </div>
                                        
                                    </div>
                                  
                                    
                                    
                                </tab>
                               
                                <tab heading="{{'Working'|translate}}">
                                    <div class="panel b-a">
                                        <div class="panel-body scroll-request">
                                            <ul class="list-group list-group-lg no-bg auto">
                                                <li class="list-group-item clearfix" ng-repeat="working in workingEmployees">
                                                    <span class="pull-left thumb-sm avatar m-r">
                                                        <img alt="..." bn-lazy-src="../../Uploads/EmployeeProfile/{{working.ProfileImage}}" err-src="/Uploads/UserAvtar/default-user-avatar.png">
                                                        <i class="on working b-white bottom"></i>
                                                    </span>
                                                    <span class="clear">
                                                        <span ng-bind="working.FirstName +' '+ working.LastName"></span>
                                                        <!--<small class="text-muted clear text-ellipsis"><span ng-bind="employeeList.Email"></span></small>-->
                                                    </span>

                                                </li>
                                                <li class="list-group-item clearfix" ng-if="workingEmployees==0">
                                                    <span translate>No record found</span>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                    <!--<div class="">
                                        <select tabindex="0" class="form-control { selected: isSelected(working.FirstName) }" name="SelectedEmployee" id="SelectedEmployee" data-ng-model="SelectedEmployee"
                                                ng-options="working.FirstName for working in workingEmployees">
                                            <option value="">Select</option>
                                        </select>
                                    </div>-->
                                </tab>


                            </tabset>

                            
                        </tab>

                        <!--<tab heading="{{'Fixing Job'|translate}}">

                        </tab>-->

                    </tabset>
                    <div class="schedulecalendar" ng-show="showScheduler">
                        <div style="float:left; width: 160px">
                            <daypilot-navigator id="navi" daypilot-config="navigatorConfig"></daypilot-navigator>
                        </div>
                        <div style="margin-left: 170px">
                            <div class="space">
                                <button ng-click="showDay()"><span translate>Day</span></button>
                                <button ng-click="showWeek()"><span translate>Week</span></button>
                            </div>
                            <daypilot-calendar id="dp" daypilot-config="dayConfig" daypilot-events="events"></daypilot-calendar>
                            <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events"></daypilot-calendar>


                        </div>
                    </div>
                   
                  
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">
        <div class="form-group">
            <div class="pay-btn">
                <input value="Confirm" class="reg-btn pull-right" type="button" ng-click="Confirm(employeeId,JobId)" ng-if="employeeId!=null" />
                <input value="Back" translate class="reg-btn pull-left" type="button" ui-sref="app.serviceprovider.jobs({serviceProviderId:app.currentUser.userId})" />
                <input value="Cancel" class="btn btn-default pull-right" type="button" ng-click="Cancel(employeeId,JobId)" ng-if="employeeId!=null" />
            </div>
        </div>
    </div>
</div>
