<div class="payment-page">
    <header><p class="center"><a ui-sref="service-provider-register"><img src="../../../Content/URFXTheme/images/logo.png" alt="logo-here" ng-hide="showArabicLogo"><img src="../../../Content/URFXTheme/images/login.ar.png" ng-show="showArabicLogo" /></a></p></header>
    <div class="payment-sec">
        <h3>Subcription Plans</h3>

        <div class="subscribe-form">
            <h4>Please fill following details for plan according to your need.</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputEmail3">Enter number of teams:</label>
                    <div class="col-sm-9">
                        <input type="email" placeholder="" id="inputEmail3" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPassword3">Team Cost:</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="" id="inputPassword3" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPassword3">Application fee:</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="" id="inputPassword3" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPassword3">Total Value:</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="" id="inputPassword3" class="form-control">
                    </div>
                </div>

            </form>
        </div>
        <div class="plan-box">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="diff"></th>
                            <th>
                                Eco Plan
                            </th>
                            <th>
                                Delux Plan
                            </th>
                            <th>
                                Premium Plan
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-nowrap">One time application fee</th>
                            <td>1500</td>
                            <td>1500</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">1 Team Registration (Monthly)</th>
                            <td>1500</td>
                            <td>700</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">% Per Visit</th>
                            <td>0%</td>
                            <td>5%</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">&nbsp;</th>
                            <td class="grey">
                                Provider is positive
                                about sales also they want a
                                fixed cost on them
                            </td>
                            <td class="yellow">
                                Provider  is less positive on
                                Sales but do not want URFX to charge
                                more if sales incease
                            </td>
                            <td class="grey">
                                Provider is negative
                                about sales buy they want to test
                                the market with sales
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-nowrap">Plans Features</th>
                            <td class="text-muted">higher Entery Cost</td>
                            <td>Meduim Entery Cost</td>
                            <td>Law Entery Cost</td>
                        </tr>
                        <tr>
                            <th scope="row" class="empty">&nbsp </th>
                            <td class="text-muted">Fixed cost on Provider</td>
                            <td>Pays a small % of each service</td>
                            <td>Pays a % of each service</td>
                        </tr>
                        <tr>
                            <th scope="row" class="empty">&nbsp </th>
                            <td class="text-muted">Cost of Service is fixed</td>
                            <td>Cost if based on company performance</td>
                            <td>Cost if based on company performance</td>
                        </tr>

                    </tbody>
                </table>


            </div>   <div class="pull-right pay-btn"><a href="#" class="btn" ng-click="signUp()">Pay Now</a></div>
        </div>
    </div>
</div>
