<div class="login-form">
    <div class="container" ng-controller="loginController">
        <form novalidate name="loginForm" class="form-signin">
            <p class="logo-login center"><img src="../../../Content/URFXTheme/images/logo.png" ng-hide="showArabicLogo"/><img src="../../../Content/URFXTheme/images/login.ar.png" ng-show="showArabicLogo" /></p>
            <h4 translate>Login to your account</h4>
            <div class="statusRow" role="alert">
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivSuccessMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="successMessage"></span>
                </div>
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivFailedMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="failedMessage"></span><!--{{failedMessage}}-->
                </div>
            </div>
            <div class="form-in">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" placeholder="UserName" id="username" class="form-control" ng-model="username" ng-bind="username" name="username" validator="required,maxlength=30" message-id="messageUserName"
                           required-error-message="Username is required" maxlength-error-message="Username should have 30 characters only">
                    
                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.username.$error.required && loginForm.username.$touched && !loginForm.username.$pristine && loginForm.username.$invalid" class="help-block">User name is required </p>
                    </span>-->
                </div>
            <div class="input-group">
                <span id="messageUserName"></span>
            </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password"  placeholder="Password" id="userPassword" class="form-control" ng-model="userPassword" ng-bind="userPassword" name="userPassword" validator="required,maxlength=30" message-id="messagePassword"
                           required-error-message="Password is required" maxlength-error-message="Password should have 30 characters only" >
                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.userPassword.$error.required && loginForm.userPassword.$touched && !loginForm.userPassword.$pristine && loginForm.userPassword.$invalid" class="help-block">Password is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messagePassword"></span>
                </div>
                <div class="bottom-part">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" data-ng-model="remember">
                            <span translate>Remember Me</span>  <a href="#" data-toggle="modal" data-target="#myModal"><span translate>Forgot password</span></a>
                        </label>
                    </div>

                </div>

            </div><div class="boder-top"><button type="submit" validation-submit="loginForm" class="btn btn-lg btn-primary btn-block pull-right" ng-click="login(username,userPassword)"><span translate>Login</span></button></div><br />
            <div class="form-group">
                <a class="btn btn-default" ng-click="setLanguage('en')">English</a>
                <a class="btn btn-default" ng-click="setLanguage('ar')">العربية</a>
                <a ui-sref="service-provider-register" class="pull-right" translate>Register</a>
            </div>
            <!--<div class="form-group" ng-if="externalLoginProviders.length > 0">
               <button ng-repeat="provider in externalLoginProviders" class="btn btn-primary btn-block" type="button" data-ng-click="authExternalProvider(provider.Name)">Connect With <span ng-bind="provider.Name"></span></button>
            </div>-->
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Forgot Your Password?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-form">
                            <!--  <label class="" for="inputEmail">Email address</label>-->
                            <input type="email" autofocus="" required="" placeholder="Email address" class="form-control" id="inputEmail">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <button type="button" class="btn btn-primary">SEND</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












