<div class="login-form">
    <div class="container" ng-controller="">
        <form novalidate name="resetPasswordForm" class="form-signin">
            <p class="logo-login center"><img src="../../../Content/URFXTheme/images/logo.png" ng-hide="showArabicLogo" /><img src="../../../Content/URFXTheme/images/login.ar.png" ng-show="showArabicLogo" /></p>
            <h4 translate>Reset Your Password</h4>
            <div class="statusRow" role="alert">
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivSuccessMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="successMessage"></span>
                </div>
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivFailedMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="failedMessage"></span><!--{{failedMessage}}-->
                </div>
            </div>
            <div class="form-in">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" placeholder="Email" id="Email" class="form-control" ng-model="Email" ng-bind="Email" name="Email" validator="required,maxlength=30" message-id="messageUserName"
                           required-error-message="Email is required">

                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.username.$error.required && loginForm.username.$touched && !loginForm.username.$pristine && loginForm.username.$invalid" class="help-block">User name is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messageUserName"></span>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" placeholder="Password" id="userPassword" class="form-control" ng-model="userPassword" ng-bind="userPassword" name="userPassword" validator="required,maxlength=30" message-id="messagePassword"
                           required-error-message="Password is required" maxlength-error-message="Password should have 30 characters only">
                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.userPassword.$error.required && loginForm.userPassword.$touched && !loginForm.userPassword.$pristine && loginForm.userPassword.$invalid" class="help-block">Password is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messagePassword"></span>
                </div>

                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" placeholder="ConfirmPassword" id="ConfirmPassword" class="form-control" ng-model="ConfirmPassword" ng-bind="ConfirmPassword" name="ConfirmPassword" validator="required,maxlength=30" message-id="messageConfirmPassword"
                           required-error-message="Confirm password is required" maxlength-error-message="Confirm password should have 30 characters only">
                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.userPassword.$error.required && loginForm.userPassword.$touched && !loginForm.userPassword.$pristine && loginForm.userPassword.$invalid" class="help-block">Password is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messageConfirmPassword"></span>
                </div>
                <button type="button" class="btn btn-primary">Reset</button>

            </div>
        </form>
    </div>
</div>

