
<div class="payment-page">
    <header>
        <p class="center"><a ui-sref="login"><img src="../../../Content/URFXTheme/images/logo.png" alt="logo-here" ng-hide="showArabicLogo"><img src="../../../Content/URFXTheme/images/login.ar.png" ng-show="showArabicLogo" /></a></p>
    </header>
    <div class="payment-sec" ng-controller="signupController">
        <h3  ng-if="showRegisterPage" translate>Service Provider Register</h3>
        <h3 ng-if="showPaymentPage" translate>Subscription Plans</h3>
        <div class="statusRow" role="alert">
            <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivSuccessMsz">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <span ng-bind="successMessage"></span>
            </div>
            <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivFailedMsz">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <span ng-bind="failedMessage"></span>
            </div>
        </div>
        <div class="payment-page" ng-if="showPaymentPage">
            <div class="payment-sec">
               <div class="subscribe-form">
                   <div class="plan-box">
                       <div class="table-responsive">
                           <table class="table table-bordered table-striped">
                               <thead>
                                   <tr>

                                       <th class="diff"></th>
                                       <th ng-repeat="plan in itemPlans">

                                           <input type="radio" id="radiobtn" name="response" data-ng-model="SelectedPlan" data-ng-value="plan.PlanId" ng-click="SetValuesForPlan(SelectedPlan)" />

                                           <span ng-bind="plan.Description" />
                                       </th>


                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th scope="row" class="text-nowrap" translate>One time application fee</th>
                                       <td ng-repeat="plan in itemPlans"><span ng-bind="plan.ApplicationFee" /></td>

                                   </tr>
                                   <tr>
                                       <th scope="row" class="text-nowrap" translate>One Team Registration (Monthly)</th>
                                       <td ng-repeat="plan in itemPlans"><span ng-bind="plan.TeamRegistrationFee" /></td>

                                   </tr>
                                   <tr>
                                       <th scope="row" class="text-nowrap" translate>% Per Visit</th>
                                       <td ng-repeat="plan in itemPlans"><span ng-bind="plan.PerVisitPercentage" /></td>

                                   </tr>
                                   <tr>
                                       <th scope="row" class="text-nowrap">&nbsp;</th>
                                       <td class="grey" ng-repeat="plan in itemPlans">
                                           <span ng-bind="plan.Detail" />

                                       </td>

                                   </tr>
                                   <tr>
                                       <th scope="row" class="text-nowrap">Plans Features</th>
                                       <td class="text-muted">higher Entery Cost</td>
                                       <td>Meduim Entery Cost</td>
                                       <td>Law Entery Cost</td>
                                   </tr>
                                   <tr>
                                       <th scope="row" class="empty">&nbsp </th>
                                       <td class="text-muted">Fixed cost on Provider</td>
                                       <td>Pays a small % of each service</td>
                                       <td>Pays a % of each service</td>
                                   </tr>
                                   <tr>
                                       <th scope="row" class="empty">&nbsp </th>
                                       <td class="text-muted">Cost of Service is fixed</td>
                                       <td>Cost if based on company performance</td>
                                       <td>Cost if based on company performance</td>
                                   </tr>

                               </tbody>
                           </table>



                       </div>
                       <h4 translate>Please fill following details for plan according to your need</h4>
                       <form class="form-horizontal">
                           <div class="form-group">
                               <label class="col-sm-3 control-label" for="inputEmail3" translate>Enter number of teams:</label>
                               <div class="col-sm-9">
                                   <input type="text" placeholder="" id="team" class="form-control" data-ng-model="NumberOfTeams" ng-keyup="SetValuesForPlanForNumerOfEmployee(NumberOfTeams)">

                               </div>
                           </div>
                           <div class="form-group">
                               <label class="col-sm-3 control-label" for="inputPassword3" translate>Team Cost:</label>
                               <div class="col-sm-9">
                                   <input type="text" placeholder="" id="inputPassword3" class="form-control" ng-model="TeamCost" ng-disabled="true"/>
                               </div>
                           </div>
                           <div class="form-group">
                               <label class="col-sm-3 control-label" for="inputPassword3" ng-disabled="true" translate>Application fee:</label>
                               <div class="col-sm-9">
                                   <input type="text" placeholder="" id="inputPassword3" class="form-control" ng-model="ApplicationFee" ng-disabled="true"/>
                               </div>
                           </div>
                           <div class="form-group">
                               <label class="col-sm-3 control-label" for="inputPassword3" ng-disabled="true" translate>Total Value:</label>
                               <div class="col-sm-9">
                                   <input type="text" placeholder="" id="inputPassword3" class="form-control" ng-model="TotalValue" ng-disabled="true"/>
                               </div>
                           </div>

                       </form>

                   </div>   <div class="pull-right pay-btn"><a href="#" class="btn" ng-click="signUp()">Pay Now</a></div>
                </div>
                
            </div>
        </div>

        <div class="subscribe-form service-register" ng-if="showRegisterPage">
            <div class="col-md-12">
                <div class="row">
                    <form novalidate name="registerForm" method="post" enctype="multipart/form-data" action="api/account">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1" translate>Company Name</label>
                                <input type="text" placeholder="" id="exampleInputEmail1" class="form-control" ng-model="registration.CompanyName" name="CompanyName" validator="required,maxlength=30"
                                       required-error-message="Company name is required" maxlength-error-message="Company name should have 30 characters only">
                                <!--<span class="errorMessage" ng-show="submitted && form.$invalid">
                                    <p style="color:red" ng-show="registerForm.CompanyName.$error.required && registerForm.CompanyName.$touched && !registerForm.CompanyName.$pristine && registerForm.CompanyName.$invalid" class="help-block">Company name is required </p>
                                    <p style="color:red" ng-show="!registerForm.CompanyName.$error.required && (registerForm.CompanyName.$error.minlength || registerForm.CompanyName.$error.maxlength) && registerForm.CompanyName.$dirty" class="help-block">Maximum length of company name should be less than 30 characters</p>
                                </span>-->

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Name of general manager of company</label>
                                <input type="text" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.GeneralManagerName" name="GeneralManagerName" validator="required,maxlength=30"
                                       required-error-message="General manager name is required" maxlength-error-message="General manager name should have 30 characters only">
                                <!--<span class="errorMessage">
                                    <p style="color:red" ng-show="registerForm.GeneralManagerName.$error.required && registerForm.GeneralManagerName.$touched && !registerForm.GeneralManagerName.$pristine && registerForm.GeneralManagerName.$invalid" class="help-block">General manager name is required </p>
                                    <p style="color:red" ng-show="!registerForm.GeneralManagerName.$error.required && (registerForm.GeneralManagerName.$error.minlength || registerForm.GeneralManagerName.$error.maxlength) && registerForm.GeneralManagerName.$dirty" class="help-block">Maximum length of general manager name should be less than 30 characters</p>
                                </span>-->
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Password</label>
                                <input type="password" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.Password" name="Password" validator="required,password"
                                       required-error-message="Password is required">
                                <!--<span class="errorMessage">
                                    <p style="color:red" ng-show="registerForm.Password.$error.required && registerForm.Password.$touched && !registerForm.Password.$pristine && registerForm.Password.$invalid" class="help-block">Password is required </p>
                                    <p style="color:red" ng-show="!registerForm.Password.$error.required && !registerForm.Password.$error.minlength && !registerForm.Password.$error.maxlength && registerForm.Password.$error.pattern && registerForm.Password.$dirty" class="help-block">Must contain one lower &amp; uppercase letter, a number and one non-alpha character (like !#$^&* )</p>
                                    <p style="color:red" ng-show="!registerForm.Password.$error.required && (registerForm.Password.$error.minlength || registerForm.Password.$error.maxlength) && registerForm.Password.$dirty" class="help-block">Passwords must be between 6 and 10 characters</p>
                                </span>-->
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile" translate>Company Logo</label>
                                <div class="form-control file-up">
                                    <input type="file" id="CompanyLogo" name="file" class="" ng-model="registration.CompanyLogoPath" onchange="angular.element(this).scope().CompanyLogo(this.files)" multiple="" accept="image/*"
                                           required-error-message="Company logo is required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Fax Number</label>
                                <input type="text" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.FaxNumber" name="FaxNumber" validator="required,number,maxlength=15"
                                       required-error-message="Faxnumber is required" number-error-message="Fax number should be number" maxlength-error-message="Fax number should have 15 characters only">
                                <!--<span class="errorMessage">
                                    <p style="color:red" ng-show="registerForm.FaxNumber.$error.required && registerForm.FaxNumber.$touched && !registerForm.FaxNumber.$pristine && registerForm.FaxNumber.$invalid" class="help-block">Fax number is required </p>
                                    <p style="color:red" ng-show="!registerForm.FaxNumber.$error.required && (registerForm.FaxNumber.$error.minlength || registerForm.FaxNumber.$error.maxlength) && registerForm.FaxNumber.$dirty" class="help-block">Maximum length of fax number should be less than 15 characters</p>
                                </span>-->
                            </div>

                            <!--<div class="form-group">
                                <label for="exampleInputPassword1" translate>Number of emlpoyees</label>
                              
                                    <select class="form-control { selected: isSelected(country.Description) }" name="SelectedEmployee" id="SelectedEmployee" data-ng-model="SelectedEmployee">
                                        <option value="">0 to 10</option>
                                        <option value="">10 to 30</option>
                                        <option value="">30 to 70</option>
                                        <option value="">70 to 150</option>
                                        <option value="">150 to 250</option>
                                        <option value="">250+</option>
                                    </select>
                              </div>-->
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Minimum Service Price</label>
                                <input type="text" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.MinimumServicePrice" name="MinimumServicePrice" validator="required,decimal"
                                       required-error-message="Minimum service price is required" decimal-error-message="Minimum service price should be decimal value upto two decimal place">
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Select Category</label>
                                <div class="form-control" ng-repeat="category in itemServiceCategory">

                                    <input type="checkbox" class="chkbox" id="category.ServiceCategoryId" name="Category[]" ng-model="category.Selected" value="{{category.ServiceCategoryId}} " ng-click="GetSubCategory()"> <span ng-bind="category.Description"></span>

                                   
                                </div>
                            </div>

                            <div class="form-group" ng-if="itemSubCategory.length>0">
                                <label for="exampleInputPassword1" translate>Select Services</label>
                                <div class="btn-group form-control" ng-repeat="subService in itemSubCategory">

                                    <input type="checkbox" class="subchkbox" id="subService.ServiceId" name="subService.ServiceId" ng-model="subService.Selected" value="{{subService.ServiceId}} " ng-click="GetSubService()"> <span ng-bind="subService.Description"></span>
                                </div>
                            </div>

                            <div class="form-group" ng-if="itemSubService.length>0">
                                <label for="exampleInputPassword1" translate>Select Sub Services</label>
                                <div class="btn-group form-control" ng-repeat="subService in itemSubService">

                                    <input type="checkbox" class="subServicechkbox" id="subService.ServiceId" name="subService.ServiceId" ng-model="subService.Selected" value="{{subService.ServiceId}}" ng-click="GetSelectedService()"> <span ng-bind="subService.Description"></span>

                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!--<form name="registerForm">-->
                            <div class="form-group">
                                <label for="exampleInputEmail1" translate>About Company</label>
                                <input type="text" placeholder="" id="exampleInputEmail1" class="form-control" ng-model="registration.Description">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" translate>Company Registration Number</label>
                                <input type="text" placeholder="" id="exampleInputEmail1" class="form-control" ng-model="registration.CompanyRegistrationNumber" name="CompanyRegistrationNumber" validator="required,maxlength=30"
                                       required-error-message="Company registration number is required" maxlength-error-message="Company registration number should have 30 characters only">
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Confirm Password</label>
                                <input type="password" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.ConfirmPassword" name="ConfirmPassword" validator="required,password"
                                       required-error-message="Confirm password is required">
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>E-mail Address</label>
                                <input type="text" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.Email" name="Email" validator="required,email"
                                       required-error-message="Email is required">
                               
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>Telephone number</label>
                                <input type="text" placeholder="" id="exampleInputPassword1" class="form-control" ng-model="registration.PhoneNumber"
                                       name="PhoneNumber"
                                       validator="required,number,maxlength=15"
                                       required-error-message="Telephone number is required" number-error-message="Telephone number should be number" maxlength-error-message="Telephone number should have 15 characters only">
                               
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>City</label>
                                <select class="form-control { selected: isSelected(city.Description) }" name="SelectedCity" id="SelectedCity" data-ng-model="SelectedCity"
                                        ng-options="city.Description for city in itemCity"  ng-change="GetDistrictByCityId(SelectedCity)">
                                    
                                </select>
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" translate>District</label>
                                <select class="form-control { selected: isSelected(district.Description) }" name="SelectedDistrict" id="SelectedDistrict" data-ng-model="SelectedDistrict" ng-change="GetSelectedDistrict(SelectedDistrict)"
                                        ng-options="district.Description for district in itemDistrict">
                                        <option value="">District</option>
                                </select>
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile" translate>Upload Certificate of Registration</label>
                                <div class="form-control file-up">
                                    <input type="file" id="CertificateRegistrationPath" name="ImagePath" class="" ng-model="CertificateRegistrationPath" onchange="angular.element(this).scope().RegistrationCertificate(this.files)" multiple="" accept="image/*"
                                           required-error-message="Certificate registration path is required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile" translate>Upload GOSI  Certificate</label>
                                <div class="form-control file-up">
                                    <input type="file" id="GOSICertificatePath" class="" name="ImagePath" ng-model="GOSICertificatePath" onchange="angular.element(this).scope().GosiCertificate(this.files)" multiple="" accept="image/*"
                                           required-error-message="GOSI certificate path is required">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12"><div class="pull-right pay-btn"><button type="button"   class="reg-btn" ng-click="PaymntView()"><span translate>Register</span></button></div></div>
                    </form>
                    
                </div>
            </div>
        </div>

       
    </div>
</div>

