<!--<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Sign in to get in touch</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
      <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div>
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Do not have an account?</small></p>
      <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>
    </form>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>-->
    <div class="container w-xxl w-auto-xs" ng-controller="SigninFormController">
        <form novalidate name="loginForm" class="form-signin">
            <p class="logo-login center"><img src="../../../Content/URFXTheme/images/logo.png" alt="logo-here" ng-hide="showArabicLogo"><img src="../../../Content/URFXTheme/images/login.ar.png" ng-show="showArabicLogo" /></p>
            <h4 translate>Login to your account</h4>
            <div class="statusRow" role="alert">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>               
            </div>
            <!--<div class="statusRow" role="alert">
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivSuccessMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="successMessage"></span>
                </div>
                <div role="alert" class="col-md-12 alert alert-warning alert-dismissible fade in label label-success" ng-show="showDivFailedMsz">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <span ng-bind="failedMessage"></span>
                </div>
            </div>-->
            <div class="form-in">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" placeholder="UserName" id="username" class="form-control" ng-model="username" ng-bind="username" name="username" validator="required,maxlength=30" message-id="messageUserName"
                           required-error-message="Username is required" maxlength-error-message="Username should have 30 characters only">

                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.username.$error.required && loginForm.username.$touched && !loginForm.username.$pristine && loginForm.username.$invalid" class="help-block">User name is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messageUserName"></span>
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" placeholder="Password" id="userPassword" class="form-control" ng-model="userPassword" ng-bind="userPassword" name="userPassword" validator="required,maxlength=30" message-id="messagePassword"
                           required-error-message="Password is required" maxlength-error-message="Password should have 30 characters only">
                    <!--<span class="errorMessage">
                        <p style="color:red" ng-show="loginForm.userPassword.$error.required && loginForm.userPassword.$touched && !loginForm.userPassword.$pristine && loginForm.userPassword.$invalid" class="help-block">Password is required </p>
                    </span>-->
                </div>
                <div class="input-group">
                    <span id="messagePassword"></span>
                </div>
                <div class="bottom-part">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" data-ng-model="remember">
                            <span translate>Remember Me</span>  <!--<a ui-sref="forgotpwd"><span translate>Forgot password</span></a>-->
                        </label>
                    </div>

                </div>

            </div>
            <div class="boder-top"><button type="submit" validation-submit="loginForm" class="btn btn-lg btn-primary btn-block pull-right" ng-click="login(username,userPassword)"><span translate>Login</span></button></div><br />            
            <div class="form-group">
                <a class="btn language" ng-click="setLang('en', $event)">English</a>
                <a class="btn language2" ng-click="setLang('ar', $event)">العربية</a>
                <a ui-sref="serviceproviderregisteration" class="pull-right reg" translate="Register">Register</a>
            </div>
            <!--<div class="form-group" ng-if="externalLoginProviders.length > 0">
               <button ng-repeat="provider in externalLoginProviders" class="btn btn-primary btn-block" type="button" data-ng-click="authExternalProvider(provider.Name)">Connect With <span ng-bind="provider.Name"></span></button>
            </div>-->
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Forgot Your Password?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-form">
                            <!--  <label class="" for="inputEmail">Email address</label>-->
                            <input type="email" autofocus="" required="" placeholder="Email address" class="form-control" id="inputEmail" ng-model="Email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <button type="button" class="btn btn-primary">SEND</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



























