<div class="container w-xl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>

    <div class="m-b-lg" ng-controller="SigninFormController">
        <div class="statusRow" role="alert">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="wrapper text-center">
            <strong>Input your details to reset your password</strong>
        </div>
        <form name="resetForm" ng-init="isCollapsed=true">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" ng-model="Email" class="form-control no-border" validator="required,email,maxlength=30" message-id="messageUserName"
                           required-error-message="Email is required"  maxlength-error-message="Email should have 30 characters only">
                </div>
                <div class="input-group">
                    <span id="messageUserName"></span>
                </div>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="Password" ng-model="Password" class="form-control no-border" validator="required,maxlength=30" message-id="messagePassword"
                           required-error-message="Password is required" maxlength-error-message="Password should have 30 characters only">
                </div>
                <div class="input-group">
                    <span id="messagePassword"></span>
                </div>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm Password" ng-model="ConfirmPassword" class="form-control no-border" validator="required,maxlength=30" message-id="messageConfirmPassword"
                           required-error-message="Confirm password is required" maxlength-error-message=" Confirm password should have 30 characters only">
                </div>
                <div class="input-group">
                    <span id="messageConfirmPassword"></span>
                </div>
            </div>
            <button type="submit" validation-submit="resetForm" class="btn btn-lg btn-primary btn-block" ng-click="ResetPassword()">Send</button>
        </form>
        <!--<div collapse="isCollapsed" class="m-t">
          <div class="alert alert-success">
            <p>A reset link sent to your email address, please check it in 7 days. <a ui-sref="access.signin" class="btn btn-sm btn-success">Sign in</a></p>
          </div>
        </div>-->
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        {% include 'blocks/page_footer.html' %}
    </div>
</div>
