      <!-- navbar header -->

<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a ui-sref="app.administration.serviceprovider" class="navbar-brand text-lt logoo" ng-if="app.currentUser.userRole!='ServiceProvider'">
        <img src="img/small-lg.png" class="firstlog" alt=".">
        <img src="img/logo.png" class="seclogo" alt="." ng-hide="showArabicLogo"><img src="../../Content/URFXTheme/images/arabic-logo.png" class="seclogo" alt="." ng-show="showArabicLogo" />
        <!--<img src="img/logo.png" class="seclogo" alt=".">-->
    </a>
    <a ui-sref="app.serviceprovider.profile({serviceProviderId:app.currentUser.userId})" class="navbar-brand text-lt logoo" ng-if="app.currentUser.userRole=='ServiceProvider'">
        <img src="img/small-lg.png" class="firstlog" alt=".">
        <img src="img/logo.png" class="seclogo" alt="." ng-hide="showArabicLogo"><img src="../../Content/URFXTheme/images/arabic-logo.png" class="seclogo" alt="." ng-show="showArabicLogo" />
        <!--<img src="img/logo.png" class="seclogo" alt=".">-->
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <img src="img/toggle.png" alt=".">
        </a>
        <!--<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
          <i class="icon-user fa-fw"></i>
        </a>-->
    </div>
    <!-- / buttons -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                {{selectLang|translate}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label|translate}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>


        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <!--<span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                  <img src="img/a0.jpg" alt="...">
                  <i class="on md b-white bottom"></i>
                </span>-->
                <span class="" ng-bind="app.currentUser.userName"></span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <!--<li ng-if="app.currentUser.userRole=='ServiceProvider'">
                    <a ui-sref="app.serviceprovider.profile({serviceProviderId:app.currentUser.userId})"><span translate>Profile</span></a>

                </li>
                <li class="divider" ng-if="app.currentUser.userRole=='ServiceProvider'"></li>-->
                <li>
                    
                    <a ng-click="logout()"><span translate>Logout</span></a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->
</div>
<!-- / navbar collapse -->
