<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate>Payments</h1>
</div>
<div class="wrapper-md" ng-controller="PaymentController">
    <div class="statusRow" role="alert">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind="alert.msg" translate></span></alert>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<span translate>Payments History</span>-->
                <div class="pull-right">
                    <!--<a class="btn btn-default btn-sm" ui-sref="app.administration.addemployees"><span translate>Add Employee</span></a>
                    <input class="btn btn-default btn-sm" type="button" value="Delete All" ng-show="IsMultipleDelete" ng-click="deleteselectedEmployees()" />-->
                </div>
            </div>
            <div class="row wrapper">
                <div class="col-sm-3 m-b-xs col-md-4">
                  
                </div>
                <div class="col-sm-3 col-md-5">

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 serachboxclass">
                    <div class="right-inner-addon">
                        <a ng-click="clear()"><span class="icon-close" title="Clear"></span></a>
                        <input type="text" class="form-control" placeholder="{{'Search'|translate}}" ng-change="searchRecord()" data-ng-model="SearchText">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <!--<th style="width:20px;">
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" id="chkAll" name="chkAll"><i></i>
                                </label>
                            </th>-->
                            <th translate>User Email</th>
                            <th translate>Service Provider</th>
                            <th translate>Payment Type</th>
                            <th translate>Number Of Teams</th>
                            <th translate>Response</th>
                            <!--<th translate>Fort Id</th>-->
                            <th translate>Amount</th>
                            <th translate>Transaction Date</th>
                            <th translate>Show</th>
                            <!--<th translate>Action</th>-->
                            <th translate>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr ng-repeat="transaction in SelectedTransactions">
                            <!--<td>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" class="SingleChk" name="SingleChk" ng-click="selectUnselectAll()" value="{{employeeList.EmployeeId}}"><i></i>
                                </label>
                            </td>-->
                            <td>
                           
                                <span ng-bind="transaction.CustomerEmail"></span>
                            </td>
                            <td>

                                <span ng-bind="transaction.ServiceProviderName"></span>
                            </td>
                            <td>
                                <span ng-bind="transaction.URFXPaymentType==0?'PlanPayment':(transaction.URFXPaymentType==1?'JobPayment':'JobAdditionalPayment')"></span>
                            </td>

                            <td>
                                <span ng-bind="transaction.NumberOfTeams"></span>
                            </td>
                            <td>
                                <span ng-bind="transaction.ResponseMessage"></span>
                            </td>
                            <!--<td>
                                <span ng-bind="transaction.FortId"></span>
                            </td>-->
                            <td>
                                <span ng-bind="transaction.Amount |currency:'SR '"></span>
                            </td>
                            <td>
                                <span ng-bind="transaction.CreatedDate|date:'dd/MM/yyyy'"></span>
                            </td>
                            <td>
                                <a ui-sref="app.administration.showPaymentDetails({Id:transaction.CartId})"><span translate><span class="glyphicon glyphicon-user" title="View Details"></span></a>
                            </td>
                            <!--<td>
                                <a ng-click="Refund(transaction.CartId)" class="btn btn-default btn-sm"><span translate>Refund</span></a>
                            </td>-->
                            <td>
                                <a ng-click="deleteTransaction(transaction.CartId)"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
                            </td>
                           


                        </tr>
                        <tr ng-show="SelectedTransactions ==0">
                            <td colspan="9" class="text-center" align="center"><span translate>No record found</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-6 col-xs-12 text-center-xs itemdisplay" ng-show="showPaging">
                        <span ng-show="totalcount >0"><span translate>Displaying&nbsp;</span> <span ng-bind="startRecord"></span><span>-&nbsp;</span><span ng-bind="itemCount"></span> <span translate>&nbsp;of&nbsp;</span> <span ng-bind="totalcount"></span></span>
                    </div>
                   

                    <nav class="col-sm-12 col-md-6 col-xs-12 text-right text-center-xs itempagination" ng-show="showPaging">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li ng-class="firstPageDisabled()"><a ng-click="firstPage()"><i class="fa fa-fast-backward"></i></a></li>

                            <li ng-class="prevPageDisabled()"><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>

                            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                <a>{{n}}</a>
                            </li>

                            <li ng-class="nextPageDisabled()"><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>

                            <li ng-class="lastPageDisabled()"><a ng-click="lastPage()"><i class="fa fa-fast-forward"></i></a></li>

                        </ul>
                    </nav>
                </div>
            </footer>
           
        </div>
    </div>




