@charset "utf-8";
/* CSS Document */


 @media screen and (max-width:1100px){.payment-sec{ width:90%;}.employe-detail-sec .bs-example{ overflow-y:scroll;}.about-comapny-sec ul li label{ font-size:12px;}
 .about-comapny-sec{ margin:10px 0px;}
 }
  @media screen and (max-width:991px){.about-comapny-sec ul li label{ text-align:left;}}
 
  @media screen and (max-width:767px){.navbar-header{ display:none;}.edit-popup .modal-dialog{ width:auto;}
	.toggled .navbar-header{ display:block;}.logo{ max-width:100%;}nav.navbar-fixed-top{ height:121px;}.language {
  float: left !important;
  margin-top: 5px;
  width: auto;
}.language li {
  float: left;
}
.logout{ width:32%;}#wrapper.toggled #sidebar-wrapper {
  top: 90px;
  width: 100% !important; -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.logo > a{ min-width:92%;}
#page-wrapper {
 
  padding: 120px 0 0 !important;

}
.index h2{ font-size:25px;}
}
	
	
 @media screen and (max-width:517px) {
	 .logout{ width:40%;}
	 .pull-left.show-pages {
  float: none;
  text-align: center;
  width: 100%;
}.pull-right.paging {
  float: none;
  margin-top: 12px;
  text-align: center;
  width: 100%;
}.paging ul li {
  display: inline-block;
  float: none;
  padding-left: 10px;
  vertical-align: middle;
}.subscribe-form { font-size:18px;
  padding: 50px 20px 78px;
}.subscribe-form.service-register .btn{ font-size:13px;}.subscribe-form.service-register input[type="file"]{ width:100%;}
.login-form .form-signin{ max-width:400px; margin-left:-200px;}

}

 @media screen and (max-width:440px){.filter-sec label{ display:block;}.btn-group.fill,.filter-sec .btn-group.fill input[type="text"] {
  width: 100%;
}.right-col.pull-right {
  margin-top: 10px;
  width: 100%;
}.reg-btn{ font-size:12px; padding:8px !important;}.employe-detail-sec h5 .left-heading{ font-size:17px;}.employe-detail-sec h5 .fa {
  font-size: 20px;
  margin-right: 5px;
 
}.language{ width:50%;}
.pull-right.top{ float:none !important;}
.login-form .form-signin {
  margin-left: -180px;
  max-width: 360px;
}.login-form .form-signin {
  margin-left: -150px;
  max-width: 300px; min-height:auto; margin-top:-300px;
}

.logo > a {
    min-width: 80% !important;
}
.logo > a.togg{ min-width:inherit !important;}
}
 @media screen and (max-width:400px){.logout { margin-right:6px;
    width:50%;
}.logout li{ margin-left:5px;}.logout li a{ font-size:12px;}.language li a{ padding:7px 12px 6px;}.language {
  width: 45%;
}}
 @media screen and (max-width:340px){.login-form label span{ font-size:12px;}.login-form label a{ font-size:12px; margin-left:5px;}.subscribe-form.service-register {
  padding: 70px 15px 100px;
}.payment-sec h3{ font-size:22px;}.subscribe-form.service-register .btn{ min-width:200px; font-size:13px;}.language {
  width: 46%;
}.language li a {
  
  font-size: 13px;

  padding: 7px 10px 6px;
}
	 
	 }
 @media screen and (max-width:620px){
.logo > a {
    min-width: 88%;
}	 
	 }	 
	 
